/************************ 
******** SIDEBAR ********
*************************/

.compose-btn-group {
  width: 100%;
  padding-left: 6% !important;

  .dropdown-menu {
    width: 198px;
  }
}

.compose-button {
  font-variant: small-caps;
  margin-left: 10px;
  float: left;
  width: 84%;
}

.compose-button-dropdown-toggle {
  float: right !important;
}

.mailbox-content {

  padding: 10px 20px 10px 0px;
  min-width: 198px;

  .category-list {
    padding: 0px;
  }

}
