/************************ 
******** Toolbar ********
*************************/

.pagination-buttons {
  padding-right: 15px;
  margin-top: 3px;

  .paginate-left-link, .paginate-right-link {
    border-radius: 3px;
  }

}

.dropdown-link, .create-filter {
  cursor: pointer;
}

.toolbar-buttons {
  padding-left: 0px;
}

.toolbar-elements {
  margin-top: 9px;
}

.bulk-action-checkbox-dropdown {
  button {
    background-color: white;
    border: 1px solid #e7eaec;
    float: left;
    margin-right: 4px;
    padding: 3px 12px;
  }

  ul {
    margin-top: 34px;
  }
}

.current-emails-displayed-counter {
  float: left;
  margin-right: 5px;
  margin-top: 9px;

  span {
    font-weight: bold;
  }
}

.more-dropdown-menu {
  height: 75px;
}

.miniature-toolbar {
  position: relative;
  right: 12.5%;
  top: 6%;

  span {
    float: right;
    padding-right: 2px;
  }
}

.settings-switch label {
  font-weight: bold;
  position: relative;
}

.tour .end-tour
{
  float: right;
  margin-right: 25px;
  margin-bottom: 5px;
}

.icheckbox_square-green, .iradio_square-green {

}

.more-dropdown {
  top: 27px;
  right: 26px;
}
