<ul class="folder-list m-b-md" style="padding: 0">
  <li><a href="#email_folder/INBOX"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right inbox_count_badge"></span> </a></li>
  <li><a href="#email_folder/SENT"> <i class="fa fa-envelope-o"></i> Sent Mail</a></li>
  <li><a href="#email_folder/DRAFT"> <i class="fa fa-file-text-o"></i> Drafts</a></li>
  <li><a href="#email_folder/TRASH"> <i class="fa fa-trash-o"></i> Trash</a></li>
</ul>

<% var template = JST["backbone/templates/email_folders/tree_nodes"]; %>
<%= template({nodeName: nodeName, node: node}) %>
