<div class="onepage" data-spy="scroll" data-target=".navigation">
  <div id="load"></div><!-- START PAGE WRAP -->

  <div class="page-wrap">
    <!-- START HOME SECTION -->

    <div class="home-parallax" id="home">
      <div class="home-text-wrapper">
        <div class="home-logo-text">
          <a href="#about">Welcome to Turing</a>
        </div>

        <div class="flexslider" id="home-slider">
          <ul class="slides styled-list">
            <li class="home-slide">
              <p class="home-slide-content" style=
              "font-size: 111.5px !important;">A new email client</p>
            </li>
          </ul>
        </div><!-- END FLEXSLIDER -->

        <div class="authentication-buttons" style="text-align: center">
          <% if !current_user.nil? %><a class='button' href=
          "%3C%=%20mail_url%20%%3E">Mail</a><br>
          <br>
          <%= link_to('Signout', signout_path, :method => :delete, class: 'button') %>
          <% else %>
          <%= link_to('Login', gmail_o_auth2_url(), class: 'button') %><br>
          <br>
          <%= link_to('Register', gmail_o_auth2_url(true), class: 'button') %>
          <% end %>
        </div>
      </div><!-- END HOME TEXT WRAPPER -->
    </div><!-- END HOME SECTION -->
    <!-- START NAVIGATION -->

    <nav class="light sticky-nav navigation">
      <!-- START CONTAINER -->

      <div class="container clearfix">
        <div class="four columns">
          <!-- START LOGO -->

          <div class="logo large">
            <a href="#home"><img alt="Logo" src="/assets/home/logo.png"
            title="logo"></a>
          </div><!-- END LOGO -->
        </div><!-- END FOUR COLUMNS -->

        <div class="twelve columns">
          <!-- START NAVIGATION MENU ITEMS -->

          <ul class="main-menu large nav" id="nav">
            <li class="home-nav-item">
              <a href="#home">Home</a>
            </li>

            <li class="about-nav-item">
              <a href="#about">About</a>
            </li>

            <li class="features-nav-item">
              <a href="#features">Features</a>
            </li>
          </ul><!-- END NAVIGATION MENU ITEMS -->
        </div><!-- END TWELVE COLUMNS -->
      </div><!-- END CONTAINER -->
    </nav><!-- END NAVIGATION -->
    <!-- START ABOUT US SECTION -->

    <div class="page" id="about" style="padding-bottom: 30px;">
      <div class="container">
        <div class="row">
          <div class="sixteen columns">
            <!-- START TITLE -->

            <div class="title">
              <h1>About Turing</h1>

              <div class="subtitle">
                <p>Turing is a new <span class="highlight">email
                client</span> designed to help you better manage each and
                <span class="highlight">every</span> aspect of your
                email.</p>
              </div><!-- END SUBTITLE -->
            </div><!-- END TITLE -->
          </div><!-- END SIXTEEN COLUMNS -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->

      <div class="fullwidth grey">
        <div class="container">
          <div class="fancy-header2">
            <h4>What it does?</h4>

            <h2 class="highlight">Equips you with a simple yet powerful email
            tool.</h2>
          </div>

          <div class="row">
            <div class="one-third column">
              <div class="service-features">
                <div class="img-container"><img alt="Service Features" src=
                "/assets/home/icons/icons/paperplane.png"></div>

                <h3>Email basics</h3>

                <p>Perform the basics of your email work with new simplicity
                and ease.</p>
              </div>
            </div><!-- END ONE THIRD COLUMN -->

            <div class="one-third column">
              <div class="service-features">
                <div class="img-container"><img alt="Service Features" src=
                "/assets/home/icons/icons/lab.png"></div>

                <h3>Innovative features</h3>

                <p>Tap into the potential of innovative new features in the
                Turing email client.</p>
              </div>
            </div><!-- END ONE THIRD COLUMNS -->

            <div class="one-third column">
              <div class="service-features">
                <div class="img-container"><img alt="Service Features" src=
                "/assets/home/icons/icons/like.png"></div>

                <h3>Rapid improvement</h3>

                <p>Tell us what you want to see, and we'll try to rapidly
                work towards the realization of your feedback.</p>
              </div>
            </div><!-- END ONE THIRD COLUMNS -->
          </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
      </div>
    </div><!-- End ABOUT US SECTION -->
    <!-- START FEATURES SECTION -->

    <div class="page" id="features" style=
    "padding-top: 3px; padding-bottom: 30px;">
      <div class="container">
        <div class="row">
          <div class="sixteen columns">
            <!-- START TITLE -->

            <div class="title">
              <h1>Our Features</h1>

              <div class="subtitle">
                <p>The Turing email client's features are designed to provide
                as much utility and value to you as we can. And, we're
                continually improving them.</p>
              </div><!-- END SUBTITLE -->
            </div><!-- END TITLE -->
          </div><!-- END SIXTEEN COLUMNS -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->

      <div class="fullwidth grey">
        <div class="container clearfix">
          <div class="row">
            <div class="one-third column">
              <!-- START service-box -->

              <div class="service-box">
                <!-- START ICON -->

                <div>
                  <h3>Volume Management</h3><!-- END service-box TITLE -->
                  <i class="service-icon icon-rocket"></i>
                </div><!-- END ICON --><!-- START service-box DESCIPTION -->

                <div class="service-description">
                  <p>The Turing email client is designed to help you get a
                  handle on the increasingly unmanageable volume of email
                  that many people receive.</p>
                  <!-- END service-box DESCRIPTION -->
                </div>

                <h6>What we offer</h6>

                <ul class="styled-list">
                  <li>Automatic Organizing</li>

                  <li>Smart filtering</li>

                  <li>Custom email rules</li>

                  <li>Bulk unsubscribe</li>
                </ul><!-- START service-box DESCIPTION -->
              </div><!-- END service-box -->
            </div><!-- END ONETHIRD COLUMN -->

            <div class="one-third column">
              <!-- START service-box -->

              <div class="service-box">
                <!-- START ICON -->

                <div>
                  <h3>Rich Analytics</h3><!-- END service-box TITLE -->
                  <i class="service-icon icon-beaker"></i>
                </div><!-- END ICON --><!-- START service-box DESCIPTION -->

                <div class="service-description">
                  <p>With the Turing email client, you'll gain a richer and
                  deeper understanding of your email than ever before.</p>
                  <!-- END service-box DESCRIPTION -->
                </div>

                <h6>What we offer</h6>

                <ul class="styled-list">
                  <li>Varied analytics</li>

                  <li>Per recipient email tracking</li>

                  <li>Actionable recommendations</li>

                  <li>Parsed Data Export</li>
                </ul><!-- START service-box DESCIPTION -->
              </div><!-- END service-box -->
            </div><!-- END ONETHIRD COLUMN -->

            <div class="one-third column">
              <!-- START service-box -->

              <div class="service-box">
                <!-- START ICON -->

                <div>
                  <h3>Configurability</h3><!-- END service-box TITLE -->
                  <i class="service-icon icon-tablet"></i>
                </div><!-- END ICON --><!-- START service-box DESCIPTION -->

                <div class="service-description">
                  <p>We've observed that many people like to do their email
                  differently. The Turing email client can be configured to
                  give you the experience you want.</p>
                  <!-- END service-box DESCRIPTION -->
                </div><!-- START service-box DESCIPTION -->

                <h6>What we offer</h6>

                <ul class="styled-list">
                  <li>Custom UI Skins</li>

                  <li>Configuration options</li>

                  <li>Installable apps</li>

                  <li>Demo mode</li>
                </ul>
              </div><!-- END service-box -->
            </div><!-- END ONETHIRD COLUMN -->
          </div><!-- END ROW -->
        </div><!-- END CONTAINER -->
      </div>
    </div><!-- END SERVICES SECTION -->
    <!-- START CONTACT SECTION -->

    <div class="page" id="contact" style="padding-top: 3px;">
      <div class="container">
        <div class="row">
          <div class="sixteen columns">
            <!-- START TITLE -->

            <div class="title">
              <h1>Contact Us</h1>

              <div class="subtitle">
                <p>We'd really love to <span class="highlight">hear from
                you</span>. We try to be responsive to <span class=
                "highlight">feedback</span> and quickly integrate your
                recommendations.</p><br>

                <p>You can get in touch by emailing us <a href=
                "mailto:feedback@turinginc.com">here</a>.</p>
              </div><!-- END SUBTITLE -->
            </div><!-- END TITLE -->
          </div><!-- END SIXTEEN COLUMNS -->
        </div><!-- END ROW -->
      </div><!-- END CONTAINER -->
      <!-- START COPYRIGHT SECTION -->

      <div class="copyright">
        <div class="container clearfix">
          <div class="sixteen columns">
            <div class="copyright-logo">
              <a href="#"><img alt="logo" src="/assets/home/logo2.png" title=
              "logo"></a>
            </div>

            <p>&copy; 2014 All Rights Reserved. Turing Technology, Inc.</p>
          </div><!-- END SIXTEEN COLUMNS -->
        </div><!-- END CONTAINER -->
      </div><!-- END COPYRIGHT SECTION -->
    </div><!-- END CONTACT SECTION -->
  </div><!-- END PAGE WRAP -->

  <div id="back-to-top">
    <a href="#">Back to Top</a>
  </div>
</div>