<script type="text/javascript" src="/assets/emails.js"></script>
<div class="wrapper" align=center>
	<br />
	<br />
	<div id="inbox_label">Inbox</div>
	<br />
	<div id="app"></div>
	<div id="email"></div>
	<br />
	<br />
</div>
