<script type="text/javascript">
  $(function() {
    EmailApp.start();
  });
</script>

<div class="container-fluid">

	<div class="row" style="height: 45px;">

		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		  <div class="container">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Turing</a>
		    </div>
		  </div>
		</div>

	</div>

	<div class="row wrapper">

		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
          	<br />
          	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Compose</button>
          	<li><h3 class="h3"><a href="<%= inbox_url %>">Inbox <span class="badge" id="inbox_count_badge"></span></a></h3></li>
          	<div id="email_folders"></div>
          </ul>
        </div>

		<div class="col-md-10">
			<div class="page-header">
			  <h1 class="h1"><a href="<%= inbox_url %>">Inbox</a> <small>with advanced management features</small></h1>
			</div>
			<div class="btn-toolbar">
				<div class="btn-group">
					<a class="btn" href="#"><i class="icon-align-left"></i></a>
					<a class="btn" href="#"><i class="icon-align-center"></i></a>
					<a class="btn" href="#"><i class="icon-align-right"></i></a>
					<a class="btn" href="#"><i class="icon-align-justify"></i></a>
				</div>
			</div>
			<div id="app" class="row"></div>
			<div id="email" class="row"></div>
		</div>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Compose</h4>
			</div>
			<form id="compose_form">
				<div class="modal-body">
						<input type="text" class="form-control" placeholder="To"/><br />
						<input type="text" class="form-control" placeholder="CC"/><br />
						<input type="text" class="form-control" placeholder="Subject"/><br />
						<textarea class="form-control" rows="8"></textarea>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Send</button>
				</div>
			</form>
		</div>
	</div>
</div>