<div id="main"></div>

<script type="text/javascript">
  function onGoogleAPILoad() {
    TuringEmailApp.start();
  }
</script>

<script src="https://apis.google.com/js/client.js?onload=onGoogleAPILoad"></script>
