<div id="wrapper">

    <div id="page-wrapper" class="gray-bg">
    <div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
            <div class="form-group">
                <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
        </form>
    </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message">Welcome to Turing.</span>
            </li>
            <li>
                <a href="login.html">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>

    </nav>
    </div>

    <div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <button id="compose_button" type="button" class="btn btn-block btn-primary compose-mail" data-toggle="modal" data-target="#composeModal">Compose Email</button>
                        <div class="space-25"></div>

                        <h5>Folders</h5>

                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li><a href="/mail2"> <i class="fa fa-inbox "></i> Inbox <span class="label label-warning pull-right inbox_count_badge"></span> </a></li>
                            <li><a href="#folder#SENT"> <i class="fa fa-envelope-o"></i> Sent Mail</a></li>
                            <li><a href="#folder#DRAFT"> <i class="fa fa-file-text-o"></i> Drafts</a></li>
                            <li><a href="#folder#TRASH"> <i class="fa fa-trash-o"></i> Trash</a></li>
                        </ul>

                        <h5>Categories</h5>

                        <ul class="category-list" style="padding: 0">
                            <div id="email_folders"></div>
                        </ul>

                        <h5>Reports</h5>
                        <br />

                        <ul class="category-list" id="reports_list" style="padding: 0">
                            <div><a href="#attachments_report">Attachments Report</a></div>
                            <div><a href="#email_volume_report">Email Volume Report</a></div>
                            <div><a href="#geo_report">Geo Report</a></div>
                            <div><a href="#inbox_efficiency_report">Inbox Efficiency Report</a></div>
                            <div><a href="#summary_analytics_report">Summary Analytics Report</a></div>
                            <div><a href="#threads_report">Threads Report</a></div>
                            <div><a href="#top_senders_and_recipients_report">Top Senders And Recipients Report</a></div>
                            <div><a href="#word_count_report">Word Count Report</a></div>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 animated fadeInRight">
            <div class="mail-box-header" id="email-folder-mail-header">
            </div>
          <div class="mail-box">
            <div id="reports"></div>
            <table class="table table-hover table-mail">
              <tbody id="email_table_body">
              </tbody>
            </table>
          </div>
        </div>
    </div>
    </div>
    <div class="footer">
        <div>
            <strong>All Rights Reserved</strong> - Turing Technology, Inc. &copy; 2014
        </div>
    </div>

    </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="composeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Compose</h4>
      </div>
      <form id="compose_form">
        <div class="modal-body">
            <input type="text" class="form-control" placeholder="To"/><br />
            <input type="text" class="form-control" placeholder="CC"/><br />
            <input type="text" class="form-control" placeholder="Subject"/><br />
            <textarea class="form-control" rows="8"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Send</button>
        </div>
      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
  TuringEmailApp.start();
  });
</script>
