<div id="main"></div>

<script type="text/javascript">
  var userJSON = <%= Rabl::Renderer.json(current_user,
                                         'api/v1/users/show',
                                         :view_path => 'app/views').html_safe %>;

  var userConfigurationJSON = <%= Rabl::Renderer.json(current_user.user_configuration,
                                                 'api/v1/user_configurations/show',
                                                 :view_path => 'app/views').html_safe %>;
  
  function onGoogleAPILoad() {
    TuringEmailApp.start(userJSON, userConfigurationJSON);
  }
</script>

<script src="https://apis.google.com/js/client.js?onload=onGoogleAPILoad"></script>