<div class="page-header col-lg-11">
  <h1 class="h1">Attachments</h1>
  <span class="report_toolbar_dropdown in-report-dropdown">
  </span>
</div>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'num_attachments_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Number of Attachments <small class="m-l-sm">attachments report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'average_file_size_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Average File Size <small class="m-l-sm">attachments report</small>'}) %>
</div>