<div class="page-header">
  <h1 class="h1">Attachments</h1>
</div>

<div class="row">
  <div class="col-lg-11">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Number of Attachments <small class="m-l-sm">attachments report</small></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <div class="num_attachments_chart_div" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-11">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>Average File Size <small class="m-l-sm">attachments report</small></h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>

      <div class="ibox-content">
        <div class="average_file_size_chart_div" style="width: 900px; height: 500px;"></div>
      </div>
    </div>
  </div>
</div>