<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1">Attachments</h1>
  </div>
  <div class="col-md-2">
    <span class="report_toolbar_dropdown top-report-dropdown">
    </span>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'num_attachments_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Number of Attachments <small class="m-l-sm">attachments report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'average_file_size_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Average File Size <small class="m-l-sm">attachments report</small>'}) %>
</div>