<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Attachments", showReportsMenu: true}) %>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'num_attachments_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Number of Attachments <small class="m-l-sm">attachments report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'average_file_size_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Average File Size <small class="m-l-sm">attachments report</small>'}) %>
</div>