<%
  function drawCharts(numAttachmentsData, averageFileSizeAttachmentsData) {
    drawChart(numAttachmentsData, 'num_attachments_chart_div', "Number of Attachments", "Number of Attachments");
    drawChart(averageFileSizeAttachmentsData, 'average_file_size_chart_div', "Attachment File Size", "Average File Size");
  }

  function humanFileSize(bytes, si) {
      var thresh = si ? 1000 : 1024;
      if(bytes < thresh) return bytes + ' B';
      var units = si ? ['kB','MB','GB','TB','PB','EB','ZB','YB'] : ['KiB','MiB','GiB','TiB','PiB','EiB','ZiB','YiB'];
      var u = -1;
      do {
          bytes /= thresh;
          ++u;
      } while(bytes >= thresh);
      return bytes.toFixed(1)+' '+units[u];
  };

  function drawChart(attachmentData, divId, chartTitle, vAxisTitle) {

    var data = google.visualization.arrayToDataTable(attachmentData);

    var options = {
      title: chartTitle,
      legend: {position: 'none'},
      hAxis: {title: 'Attachment Type', titleTextStyle: {color: 'black'}},
      vAxis: {title: vAxisTitle, titleTextStyle: {color: 'black'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById(divId));

    chart.draw(data, options);

  }

  google.load('visualization', '1.0',
              {'callback': function() {drawCharts(obj.data.numAttachmentsData, obj.data.averageFileSizeAttachmentsData); },
              'packages':['corechart']}
              );
%>

<div class="page-header">
  <h1 class="h1">Reports <small>attachments</small></h1>
</div>
<div id="num_attachments_chart_div" style="width: 900px; height: 500px;"></div>
<div id="average_file_size_chart_div" style="width: 900px; height: 500px;"></div>
