<div class="page-header">
  <h1 class="h1">Top Contacts</h1>
</div>


<div class="row">

  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'top_senders', chartWidth: '', chartHeight: '', numberColumns: 'col-lg-6', containerTitle: 'Top Senders <small class="m-l-sm">contacts report</small>'}) %>

  <%= template({chartDivClassName: 'top_recipients', chartWidth: '', chartHeight: '', numberColumns: 'col-lg-6', containerTitle: 'Top Recipients <small class="m-l-sm">contacts report</small>'}) %>

</div>