<div class="page-header">
  <h1 class="h1">Reports <small>email volume</small></h1>
</div>

<div>
  <div class="emails_per_day_chart_div" style="width: 900px; height: 500px;"></div>
  <div class="emails_per_week_chart_div" style="width: 900px; height: 500px;"></div>
  <div class="emails_per_month_chart_div" style="width: 900px; height: 500px;"></div>
</div>
