<%
  // Callback that creates and populates a data table,
  // instantiates the pie chart, passes in the data and
  // draws it.
  function drawCharts(dailyEmailVolumeData, weeklyEmailVolumeData, monthlyEmailVolumeData) {
		drawMonthlyEmailVolumeChart(monthlyEmailVolumeData);
		drawWeeklyEmailVolumeChart(weeklyEmailVolumeData);
		drawDailyEmailVolumeChart(dailyEmailVolumeData);
  }

  function drawMonthlyEmailVolumeChart(emailVolumeData) {
    var data = google.visualization.arrayToDataTable(emailVolumeData.data);

    var options = {
      title: 'Monthly Email Volume',
      hAxis: {title: 'Month',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('monthly_chart_div'));
    chart.draw(data, options);
  }

  function drawWeeklyEmailVolumeChart(emailVolumeData) {
    var data = google.visualization.arrayToDataTable(emailVolumeData.data);

    var options = {
      title: 'Weekly Email Volume',
      hAxis: {title: 'Week',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('weekly_chart_div'));
    chart.draw(data, options);
  }

  function drawDailyEmailVolumeChart(emailVolumeData) {
    var data = google.visualization.arrayToDataTable(emailVolumeData.data);

    var options = {
      title: 'Daily Email Volume',
      hAxis: {title: 'Day',  titleTextStyle: {color: '#333'}},
      vAxis: {minValue: 0}
    };

    var chart = new google.visualization.AreaChart(document.getElementById('daily_chart_div'));
    chart.draw(data, options);
  }

  // Load the Visualization API and the piechart package, and set a callback to run when the Google Visualization API is loaded.

  setTimeout(function() {
    google.load('visualization', '1.0',
                {'callback': function() {drawCharts(dailyEmailVolumeData, weeklyEmailVolumeData, monthlyEmailVolumeData); },
                'packages':['corechart']}
                )
  }, 1000);
%>

<div class="page-header">
  <h1 class="h1">Reports <small>email volume</small></h1>
</div>
<div>
	<div id="monthly_chart_div" style="width: 900px; height: 500px;"></div>
	<div id="weekly_chart_div" style="width: 900px; height: 500px;"></div>
	<div id="daily_chart_div" style="width: 900px; height: 500px;"></div>
</div>
