<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1">Email Volume</h1>
  </div>
  <div class="col-md-2">
    <span class="report_toolbar_dropdown top-report-dropdown">
    </span>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'emails_per_day_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Day <small class="m-l-sm">email volume report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'emails_per_week_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Week <small class="m-l-sm">email volume report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'emails_per_month_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Month <small class="m-l-sm">email volume report</small>'}) %>
</div>