<div class="page-header col-lg-11">
  <h1 class="h1">Email Volume</h1>
  <span class="report_toolbar_dropdown in-report-dropdown">
  </span>
</div>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'emails_per_day_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Day <small class="m-l-sm">email volume report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'emails_per_week_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Week <small class="m-l-sm">email volume report</small>'}) %>
</div>

<div class="row">
  <%= template({chartDivClassName: 'emails_per_month_chart_div', chartWidth: 'width: 900px;', chartHeight: 'height: 500px;', numberColumns: 'col-lg-11', containerTitle: 'Emails Per Month <small class="m-l-sm">email volume report</small>'}) %>
</div>