<div class="page-header col-lg-11">
  <h1 class="h1">Geography</h1>
  <span class="report_toolbar_dropdown in-report-dropdown">
  </span>
</div>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'geo_chart_div', chartWidth: '900px', chartHeight: '500px', numberColumns: 'col-lg-11', containerTitle: 'Geography <small class="m-l-sm">geo report</small>'}) %>
</div>