<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Geography", showReportsMenu: true}) %>

<div class="row">
  <% var template = JST["backbone/templates/reports/report_container"]; %>
  <%= template({chartDivClassName: 'geo_chart_div', chartWidth: '900px', chartHeight: '500px', numberColumns: 'col-lg-11', containerTitle: 'Geography <small class="m-l-sm">geo report</small>'}) %>
</div>