<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Impact", showReportsMenu: true}) %>

<div class="row">
  <div class="col-lg-11">
    <h4 class="h4">Percent of sent emails replied to: <small><%= percent_sent_emails_replied_to * 100 %>%</small></h4>
  </div>
</div>
