<div class="page-header">
  <h1 class="h1">Reports <small>Impact</small></h1>
</div>

<div>
  <h4 class="h4">Percent of sent emails replied to: <small><%= percent_sent_emails_replied_to %>%</small></h4>
</div>