<div class="row">
  <div class="page-header col-lg-11">
    <h1 class="h1">Impact</h1>
    <span class="report_toolbar_dropdown in-report-dropdown">
    </span>
  </div>
</div>

<div class="row">
  <div class="col-lg-11">
    <h4 class="h4">Percent of sent emails replied to: <small><%= percent_sent_emails_replied_to * 100 %>%</small></h4>
  </div>
</div>
