<div class="page-header">
  <h1 class="h1">Reports <small>inbox efficiency</small></h1>
</div>

<div>
	<h2 class="h2">7.5 <small>average response time</small></h2>
	<h2 class="h2">70% <small>archived</small></h2>
</div>