<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Lists", showReportsMenu: true}) %>

<div class="row">
  <div class="col-lg-11">
    <%
    function printListStatsRows(listStats) {
      if (listStats[0] != null && listStats[0] != "") { %>
        <td><%= listStats[0] %></td>
      <% } else { %>
        <td><%= listStats[1] %></td>
    <%   } %>

        <td><%= listStats[2] %></td>
    <%
    }
    %>

    <div class="list-report-statistics">
      <h4 class="h4">Lists email daily average</h4>
      
      <table>
        <% for(var i=0; i < lists_email_daily_average.length; i++) {%>
          <tr>
            <% printListStatsRows(lists_email_daily_average[i]) %>
          </tr>
        <% } %>
      </table>
      
      <h4 class="h4">Emails per list</h4>
      <table>
        <% for(var i=0; i < emails_per_list.length; i++) {%>
          <tr>
            <% printListStatsRows(emails_per_list[i]) %>
          </tr>
        <% } %>
      </table>
      
      <h4 class="h4">Email threads per list</h4>
      <table>
        <% for(var i=0; i < email_threads_per_list.length; i++) {%>
          <tr>
            <% printListStatsRows(email_threads_per_list[i]) %>
          </tr>
        <% } %>
      </table>
      
      <h4 class="h4">Email threads replied to per list</h4>
      <table>
        <% for(var i=0; i < email_threads_replied_to_per_list.length; i++) {%>
          <tr>
            <% printListStatsRows(email_threads_replied_to_per_list[i]) %>
          </tr>
        <% } %>
      </table>
      
      <h4 class="h4">Sent emails per list</h4>
      <table>
        <% for(var i=0; i < sent_emails_per_list.length; i++) {%>
          <tr>
            <% printListStatsRows(sent_emails_per_list[i]) %>
          </tr>
        <% } %>
      </table>
      
      <h4 class="h4">Sent emails replied to per list</h4>
      <table>
        <% for(var i=0; i < sent_emails_replied_to_per_list.length; i++) { %>
          <% if (sent_emails_replied_to_per_list[i].length > 0) { %>
            <tr>
              <% printListStatsRows(sent_emails_replied_to_per_list[i]) %>
            </tr>
          <% } %>
        <% } %>
      </table>
    </div>
  </div>
</div>