<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1">Summary Analytics</h1>
  </div>
  <div class="col-md-2">
    <span class="report_toolbar_dropdown top-report-dropdown">
    </span>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>

<div>
  <h2 class="h2"><%= number_of_conversations %> <small>conversations</small></h2>
  <h2 class="h2"><%= number_of_emails_received %> <small>emails received</small></h2>
  <h2 class="h2"><%= number_of_emails_sent %> <small>emails sent</small></h2>
</div>
