<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Summary Analytics", showReportsMenu: true}) %>

<div>
  <h2 class="h2"><%= number_of_conversations %> <small>conversations</small></h2>
  <h2 class="h2"><%= number_of_emails_received %> <small>emails received</small></h2>
  <h2 class="h2"><%= number_of_emails_sent %> <small>emails sent</small></h2>
</div>
