<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Threads", showReportsMenu: true}) %>

<div class="row">
  <div class="col-lg-11">
    <h4 class="h4">Average Thread Length: <small><%= average_thread_length %></small></h4>

    <br/>

    <h4 class="h4">Top Email Threads</h4>
    <ul>
      <% for(var i = 0; i < top_email_threads.length; i++) { %>
        <li><a href="#email_thread/<%= top_email_threads[i].uid %>"><%= top_email_threads[i].emails[0].subject %></a></li>
      <% } %>
    </ul>
  </div>
</div>