<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1">Threads</h1>
  </div>
  <div class="col-md-2">
    <span class="report_toolbar_dropdown top-report-dropdown">
    </span>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>

<div class="row">
  <div class="col-lg-11">
    <h4 class="h4">Average Thread Length: <small><%= average_thread_length %></small></h4>

    <br/>

    <h4 class="h4">Top Email Threads</h4>
    <ul>
      <% for(var i = 0; i < top_email_threads.length; i++) { %>
        <li><a href="#email_thread/<%= top_email_threads[i].uid %>"><%= top_email_threads[i].emails[0].subject %></a></li>
      <% } %>
    </ul>
  </div>
</div>