<%
  function drawChart(wordCountData) {
    var data = google.visualization.arrayToDataTable(wordCountData);

    var options = {
      title: 'Word Count',
      hAxis: {title: 'words', titleTextStyle: {color: 'black'}},
      vAxis: {title: '% of messages', titleTextStyle: {color: 'black'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('word_count_chart_div'));

    chart.draw(data, options);
  }

  google.load('visualization', '1.0',
              {'callback': function() {drawChart(obj.data.wordCountData); },
              'packages':['corechart']});
%>

<div class="page-header">
  <h1 class="h1">Reports <small>word count</small></h1>
</div>

<div id="word_count_chart_div" style="width: 900px; height: 500px;"></div>
