<%
  function drawChart(data, divID, chartTitle) {
    var options = {
      title: chartTitle,
      hAxis: {titleTextStyle: {color: 'black'}},
      vAxis: {titleTextStyle: {color: 'black'}}
    };
  
    var chart = new google.visualization.ColumnChart($("#" + divID)[0]);
    var dataTable = google.visualization.arrayToDataTable(data);
  
    chart.draw(dataTable, options);
  }

  google.load("visualization", "1.0", {
    callback: function() {
      drawCharts(obj.wordCountsGChartData, "word_count_chart_div", "Word Counts")
    },
    packages:["corechart"]
  })
%>

<div class="page-header">
  <h1 class="h1">Reports <small>word counts</small></h1>
</div>

<div id="word_count_chart_div" style="width: 900px; height: 500px;"></div>
