<%
  function drawChart() {

    var data = google.visualization.arrayToDataTable([
      ['Count', 'Received', 'Sent'],
      ['< 10',  33,      17],
      ['< 30',  4,      27],
      ['< 50',  3,       26],
      ['< 100',  11,      14],
      ['< 200',  14,      12],
      ['More',  34,      3]
    ]);

    var options = {
      title: 'Word Count',
      hAxis: {title: 'words', titleTextStyle: {color: 'black'}},
      vAxis: {title: '% of messages', titleTextStyle: {color: 'black'}}
    };

    var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));

    chart.draw(data, options);

  }

  setTimeout(function() {
    google.load('visualization', '1.0',
                {'callback': function() {drawChart(); },
                'packages':['corechart']}
                )
  }, 1000);
%>

<div class="page-header">
  <h1 class="h1">Reports <small>word count</small></h1>
</div>
<div id="chart_div" style="width: 900px; height: 500px;"></div>