<%
  function drawChart(data, divSelector, chartTitle) {
    if ($(divSelector).length == 0) {
      return
    }

    var options = {
      title: chartTitle,
      hAxis: {titleTextStyle: {color: 'black'}},
      vAxis: {titleTextStyle: {color: 'black'}}
    };
  
    var chart = new google.visualization.ColumnChart($(divSelector)[0]);
    var dataTable = google.visualization.arrayToDataTable(data);
  
    chart.draw(dataTable, options);
  }

  google.load("visualization", "1.0", {
    callback: function() {
      drawChart(obj.wordCountsGChartData, ".word-count-chart-div", "Word Counts")
    },
    packages:["corechart"]
  })
%>

<% var template = JST["backbone/templates/page_header_view"]; %>
<%= template({title: "Word Counts", showReportsMenu: true}) %>

<div class="word-count-chart-div"></div>