/************************ 
******* LIST VIEW *******
*************************/

table.table-mail tr td {
  padding: 1px !important;
}

.email_threads_list_view_tbody tr {
  cursor: pointer;
}

.email_threads_list_view {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;

  overflow-x: hidden !important;
}
