/************************ 
**** Search Nav Bar *****
*************************/

.search-nav-bar {
  min-width: 675px !important;
  margin-right: 0px;
  font-family: Roboto,Open Sans, Arial,Tahoma, Helvetica, sans-serif;
}

#top-search {
  height: 50px;
  width: 500px;
}

.navbar.navbar-static-top {
  margin-bottom: 0px;
}

.navbar-top-links li a {
  padding: 18px 10px;
}
