<div class="dropdown email-templates-dropdown-div">
  <button class="btn btn-default dropdown-toggle" type="button" id="emailTemplatesDropdownMenu" data-toggle="dropdown">
    Email Templates
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu email-templates-dropdown" role="menu" aria-labelledby="emailTemplatesDropdownMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1" class="follow-up-email-to-a-first-conversation">Follow-Up Email to a First Conversation</a></li>
  </ul>
</div>