<form class="compose-form">
  <div class="modal-body">
      <input type="text" class="form-control to-input" placeholder="To"/><br />
      <input type="text" class="form-control cc-input" placeholder="CC"/><br />
      <input type="text" class="form-control bcc-input" placeholder="BCC"/><br />
      <input type="text" class="form-control subject-input" placeholder="Subject"/><br />
      <label class="compose-form-attachments-label">Attachments</label><input class="compose-form-attachments-input" type="file" name="attachment" multiple />
      <br />
      <br />
      <textarea class="form-control email-draft-editable compose-email-body" rows="15">
        <%= email.html_part %>
      </textarea>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-info save-button">Save</button>

    <div class="btn-group">
      <button type="submit" class="btn btn-primary send-button">Send</button>
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <span class="caret"></span>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu send-button-dropdown-menu" role="menu">
        <li><a class="send-and-archive">Send & Archive</a></li>
      </ul>
    </div>

  </div>
</form>