<div class="dropdown emoji-dropdown-div">
  <button class="btn btn-default dropdown-toggle" type="button" id="emojiDropdownMenu" data-toggle="dropdown" style="padding-top: 5px; padding-bottom: 4px; margin-top: 5px; margin-left: 5px;">
    Emoji
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu emoji-dropdown" role="menu" aria-labelledby="emojiDropdownMenu">
    <span class='initial-load'>:+1:</span>
    <span class='initial-load'>:-1:</span>
    <span class='initial-load'>:100:</span>
    <span class='initial-load'>:109:</span>
    <span class='initial-load'>:1234:</span>
    <span class='initial-load'>:8ball:</span>
    <span class='initial-load'>:a:</span>
    <span class='initial-load'>:ab:</span>
    <span class='initial-load'>:abc:</span>
    <span class='initial-load'>:abcd:</span>
    <span class='initial-load'>:accept:</span>
    <span class='initial-load'>:aerial_tramway:</span>
    <span class='initial-load'>:airplane:</span>
    <span class='initial-load'>:alarm_clock:</span>
    <span class='initial-load'>:alien:</span>
    <span class='initial-load'>:ambulance:</span>
    <span class='initial-load'>:anchor:</span>
    <span class='initial-load'>:angel:</span>
    <span class='initial-load'>:anger:</span>
    <span class='initial-load'>:angry:</span>
    <span class='initial-load'>:anguished:</span>
    <span class='initial-load'>:ant:</span>
    <span class='initial-load'>:apple:</span>
    <span class='initial-load'>:aquarius:</span>
    <span class='initial-load'>:aries:</span>
    <span class='initial-load'>:arrow_backward:</span>
    <span class='initial-load'>:arrow_double_down:</span>
    <span class='initial-load'>:arrow_double_up:</span>
    <span class='initial-load'>:arrow_down:</span>
    <span class='initial-load'>:arrow_down_small:</span>
    <span class='initial-load'>:arrow_forward:</span>
    <span class='initial-load'>:arrow_heading_down:</span>
    <span class='initial-load'>:arrow_heading_up:</span>
    <span class='initial-load'>:arrow_left:</span>
    <span class='initial-load'>:arrow_lower_left:</span>
    <span class='initial-load'>:arrow_lower_right:</span>
    <span class='initial-load'>:arrow_right:</span>
    <span class='initial-load'>:arrow_right_hook:</span>
    <span class='initial-load'>:arrow_up:</span>
    <span class='initial-load'>:arrow_up_down:</span>
    <span class='initial-load'>:arrow_up_small:</span>
    <span class='initial-load'>:arrow_upper_left:</span>
    <span class='initial-load'>:arrow_upper_right:</span>
    <span class='initial-load'>:arrows_clockwise:</span>
    <span class='initial-load'>:arrows_counterclockwise:</span>
    <span class='initial-load'>:art:</span>
    <span class='initial-load'>:articulated_lorry:</span>
    <span class='initial-load'>:astonished:</span>
    <span class='initial-load'>:atm:</span>
    <span class='initial-load'>:b:</span>
    <span class='initial-load'>:baby:</span>
    <span class='initial-load'>:baby_bottle:</span>
    <span class='initial-load'>:baby_chick:</span>
    <span class='initial-load'>:baby_symbol:</span>
    <span class='initial-load'>:baggage_claim:</span>
    <span class='initial-load'>:balloon:</span>
    <span class='initial-load'>:ballot_box_with_check:</span>
    <span class='initial-load'>:bamboo:</span>
    <span class='initial-load'>:banana:</span>
    <span class='initial-load'>:bangbang:</span>
    <span class='initial-load'>:bank:</span>
    <span class='initial-load'>:bar_chart:</span>
    <span class='initial-load'>:barber:</span>
    <span class='initial-load'>:baseball:</span>
    <span class='initial-load'>:basketball:</span>
    <span class='initial-load'>:bath:</span>
    <span class='subsequent-load'>:bathtub:</span>
    <span class='subsequent-load'>:battery:</span>
    <span class='subsequent-load'>:bear:</span>
    <span class='subsequent-load'>:bee:</span>
    <span class='subsequent-load'>:beer:</span>
    <span class='subsequent-load'>:beers:</span>
    <span class='subsequent-load'>:beetle:</span>
    <span class='subsequent-load'>:beginner:</span>
    <span class='subsequent-load'>:bell:</span>
    <span class='subsequent-load'>:bento:</span>
    <span class='subsequent-load'>:bicyclist:</span>
    <span class='subsequent-load'>:bike:</span>
    <span class='subsequent-load'>:bikini:</span>
    <span class='subsequent-load'>:bird:</span>
    <span class='subsequent-load'>:birthday:</span>
    <span class='subsequent-load'>:black_circle:</span>
    <span class='subsequent-load'>:black_joker:</span>
    <span class='subsequent-load'>:black_nib:</span>
    <span class='subsequent-load'>:black_square:</span>
    <span class='subsequent-load'>:black_square_button:</span>
    <span class='subsequent-load'>:blossom:</span>
    <span class='subsequent-load'>:blowfish:</span>
    <span class='subsequent-load'>:blue_book:</span>
    <span class='subsequent-load'>:blue_car:</span>
    <span class='subsequent-load'>:blue_heart:</span>
    <span class='subsequent-load'>:blush:</span>
    <span class='subsequent-load'>:boar:</span>
    <span class='subsequent-load'>:boat:</span>
    <span class='subsequent-load'>:bomb:</span>
    <span class='subsequent-load'>:book:</span>
    <span class='subsequent-load'>:bookmark:</span>
    <span class='subsequent-load'>:bookmark_tabs:</span>
    <span class='subsequent-load'>:books:</span>
    <span class='subsequent-load'>:boom:</span>
    <span class='subsequent-load'>:boot:</span>
    <span class='subsequent-load'>:bouquet:</span>
    <span class='subsequent-load'>:bow:</span>
    <span class='subsequent-load'>:bowling:</span>
    <span class='subsequent-load'>:bowtie:</span>
    <span class='subsequent-load'>:boy:</span>
    <span class='subsequent-load'>:bread:</span>
    <span class='subsequent-load'>:bride_with_veil:</span>
    <span class='subsequent-load'>:bridge_at_night:</span>
    <span class='subsequent-load'>:briefcase:</span>
    <span class='subsequent-load'>:broken_heart:</span>
    <span class='subsequent-load'>:bug:</span>
    <span class='subsequent-load'>:bulb:</span>
    <span class='subsequent-load'>:bullettrain_front:</span>
    <span class='subsequent-load'>:bullettrain_side:</span>
    <span class='subsequent-load'>:bus:</span>
    <span class='subsequent-load'>:busstop:</span>
    <span class='subsequent-load'>:bust_in_silhouette:</span>
    <span class='subsequent-load'>:busts_in_silhouette:</span>
    <span class='subsequent-load'>:cactus:</span>
    <span class='subsequent-load'>:cake:</span>
    <span class='subsequent-load'>:calendar:</span>
    <span class='subsequent-load'>:calling:</span>
    <span class='subsequent-load'>:camel:</span>
    <span class='subsequent-load'>:camera:</span>
    <span class='subsequent-load'>:cancer:</span>
    <span class='subsequent-load'>:candy:</span>
    <span class='subsequent-load'>:capital_abcd:</span>
    <span class='subsequent-load'>:capricorn:</span>
    <span class='subsequent-load'>:car:</span>
    <span class='subsequent-load'>:card_index:</span>
    <span class='subsequent-load'>:carousel_horse:</span>
    <span class='subsequent-load'>:cat:</span>
    <span class='subsequent-load'>:cat2:</span>
    <span class='subsequent-load'>:cd:</span>
    <span class='subsequent-load'>:chart:</span>
    <span class='subsequent-load'>:chart_with_downwards_trend:</span>
    <span class='subsequent-load'>:chart_with_upwards_trend:</span>
    <span class='subsequent-load'>:checkered_flag:</span>
    <span class='subsequent-load'>:cherries:</span>
    <span class='subsequent-load'>:cherry_blossom:</span>
    <span class='subsequent-load'>:chestnut:</span>
    <span class='subsequent-load'>:chicken:</span>
    <span class='subsequent-load'>:children_crossing:</span>
    <span class='subsequent-load'>:chocolate_bar:</span>
    <span class='subsequent-load'>:christmas_tree:</span>
    <span class='subsequent-load'>:church:</span>
    <span class='subsequent-load'>:cinema:</span>
    <span class='subsequent-load'>:circus_tent:</span>
    <span class='subsequent-load'>:city_sunrise:</span>
    <span class='subsequent-load'>:city_sunset:</span>
    <span class='subsequent-load'>:cl:</span>
    <span class='subsequent-load'>:clap:</span>
    <span class='subsequent-load'>:clapper:</span>
    <span class='subsequent-load'>:clipboard:</span>
    <span class='subsequent-load'>:clock1:</span>
    <span class='subsequent-load'>:clock10:</span>
    <span class='subsequent-load'>:clock1030:</span>
    <span class='subsequent-load'>:clock11:</span>
    <span class='subsequent-load'>:clock1130:</span>
    <span class='subsequent-load'>:clock12:</span>
    <span class='subsequent-load'>:clock1230:</span>
    <span class='subsequent-load'>:clock130:</span>
    <span class='subsequent-load'>:clock2:</span>
    <span class='subsequent-load'>:clock230:</span>
    <span class='subsequent-load'>:clock3:</span>
    <span class='subsequent-load'>:clock330:</span>
    <span class='subsequent-load'>:clock4:</span>
    <span class='subsequent-load'>:clock430:</span>
    <span class='subsequent-load'>:clock5:</span>
    <span class='subsequent-load'>:clock530:</span>
    <span class='subsequent-load'>:clock6:</span>
    <span class='subsequent-load'>:clock630:</span>
    <span class='subsequent-load'>:clock7:</span>
    <span class='subsequent-load'>:clock730:</span>
    <span class='subsequent-load'>:clock8:</span>
    <span class='subsequent-load'>:clock830:</span>
    <span class='subsequent-load'>:clock9:</span>
    <span class='subsequent-load'>:clock930:</span>
    <span class='subsequent-load'>:closed_book:</span>
    <span class='subsequent-load'>:closed_lock_with_key:</span>
    <span class='subsequent-load'>:closed_umbrella:</span>
    <span class='subsequent-load'>:cloud:</span>
    <span class='subsequent-load'>:clubs:</span>
    <span class='subsequent-load'>:cn:</span>
    <span class='subsequent-load'>:cocktail:</span>
    <span class='subsequent-load'>:coffee:</span>
    <span class='subsequent-load'>:cold_sweat:</span>
    <span class='subsequent-load'>:collision:</span>
    <span class='subsequent-load'>:computer:</span>
    <span class='subsequent-load'>:confetti_ball:</span>
    <span class='subsequent-load'>:confounded:</span>
    <span class='subsequent-load'>:confused:</span>
    <span class='subsequent-load'>:congratulations:</span>
    <span class='subsequent-load'>:construction:</span>
    <span class='subsequent-load'>:construction_worker:</span>
    <span class='subsequent-load'>:convenience_store:</span>
    <span class='subsequent-load'>:cookie:</span>
    <span class='subsequent-load'>:cool:</span>
    <span class='subsequent-load'>:cop:</span>
    <span class='subsequent-load'>:copyright:</span>
    <span class='subsequent-load'>:corn:</span>
    <span class='subsequent-load'>:couple:</span>
    <span class='subsequent-load'>:couple_with_heart:</span>
    <span class='subsequent-load'>:couplekiss:</span>
    <span class='subsequent-load'>:cow:</span>
    <span class='subsequent-load'>:cow2:</span>
    <span class='subsequent-load'>:credit_card:</span>
    <span class='subsequent-load'>:crocodile:</span>
    <span class='subsequent-load'>:crossed_flags:</span>
    <span class='subsequent-load'>:crown:</span>
    <span class='subsequent-load'>:cry:</span>
    <span class='subsequent-load'>:crying_cat_face:</span>
    <span class='subsequent-load'>:crystal_ball:</span>
    <span class='subsequent-load'>:cupid:</span>
    <span class='subsequent-load'>:curly_loop:</span>
    <span class='subsequent-load'>:currency_exchange:</span>
    <span class='subsequent-load'>:curry:</span>
    <span class='subsequent-load'>:custard:</span>
    <span class='subsequent-load'>:customs:</span>
    <span class='subsequent-load'>:cyclone:</span>
    <span class='subsequent-load'>:dancer:</span>
    <span class='subsequent-load'>:dancers:</span>
    <span class='subsequent-load'>:dango:</span>
    <span class='subsequent-load'>:dart:</span>
    <span class='subsequent-load'>:dash:</span>
    <span class='subsequent-load'>:date:</span>
    <span class='subsequent-load'>:de:</span>
    <span class='subsequent-load'>:deciduous_tree:</span>
    <span class='subsequent-load'>:department_store:</span>
    <span class='subsequent-load'>:diamond_shape_with_a_dot_inside:</span>
    <span class='subsequent-load'>:diamonds:</span>
    <span class='subsequent-load'>:disappointed:</span>
    <span class='subsequent-load'>:dizzy:</span>
    <span class='subsequent-load'>:dizzy_face:</span>
    <span class='subsequent-load'>:do_not_litter:</span>
    <span class='subsequent-load'>:dog:</span>
    <span class='subsequent-load'>:dog2:</span>
    <span class='subsequent-load'>:dollar:</span>
    <span class='subsequent-load'>:dolls:</span>
    <span class='subsequent-load'>:dolphin:</span>
    <span class='subsequent-load'>:door:</span>
    <span class='subsequent-load'>:doughnut:</span>
    <span class='subsequent-load'>:dragon:</span>
    <span class='subsequent-load'>:dragon_face:</span>
    <span class='subsequent-load'>:dress:</span>
    <span class='subsequent-load'>:dromedary_camel:</span>
    <span class='subsequent-load'>:droplet:</span>
    <span class='subsequent-load'>:dvd:</span>
    <span class='subsequent-load'>:e-mail:</span>
    <span class='subsequent-load'>:ear:</span>
    <span class='subsequent-load'>:ear_of_rice:</span>
    <span class='subsequent-load'>:earth_africa:</span>
    <span class='subsequent-load'>:earth_americas:</span>
    <span class='subsequent-load'>:earth_asia:</span>
    <span class='subsequent-load'>:egg:</span>
    <span class='subsequent-load'>:eggplant:</span>
    <span class='subsequent-load'>:eight:</span>
    <span class='subsequent-load'>:eight_pointed_black_star:</span>
    <span class='subsequent-load'>:eight_spoked_asterisk:</span>
    <span class='subsequent-load'>:electric_plug:</span>
    <span class='subsequent-load'>:elephant:</span>
    <span class='subsequent-load'>:email:</span>
    <span class='subsequent-load'>:end:</span>
    <span class='subsequent-load'>:envelope:</span>
    <span class='subsequent-load'>:es:</span>
    <span class='subsequent-load'>:euro:</span>
    <span class='subsequent-load'>:european_castle:</span>
    <span class='subsequent-load'>:european_post_office:</span>
    <span class='subsequent-load'>:evergreen_tree:</span>
    <span class='subsequent-load'>:exclamation:</span>
    <span class='subsequent-load'>:expressionless:</span>
    <span class='subsequent-load'>:eyeglasses:</span>
    <span class='subsequent-load'>:eyes:</span>
    <span class='subsequent-load'>:facepunch:</span>
    <span class='subsequent-load'>:factory:</span>
    <span class='subsequent-load'>:fallen_leaf:</span>
    <span class='subsequent-load'>:family:</span>
    <span class='subsequent-load'>:fast_forward:</span>
    <span class='subsequent-load'>:fax:</span>
    <span class='subsequent-load'>:fearful:</span>
    <span class='subsequent-load'>:feelsgood:</span>
    <span class='subsequent-load'>:feet:</span>
    <span class='subsequent-load'>:ferris_wheel:</span>
    <span class='subsequent-load'>:file_folder:</span>
    <span class='subsequent-load'>:finnadie:</span>
    <span class='subsequent-load'>:fire:</span>
    <span class='subsequent-load'>:fire_engine:</span>
    <span class='subsequent-load'>:fireworks:</span>
    <span class='subsequent-load'>:first_quarter_moon:</span>
    <span class='subsequent-load'>:first_quarter_moon_with_face:</span>
    <span class='subsequent-load'>:fish:</span>
    <span class='subsequent-load'>:fish_cake:</span>
    <span class='subsequent-load'>:fishing_pole_and_fish:</span>
    <span class='subsequent-load'>:fist:</span>
    <span class='subsequent-load'>:five:</span>
    <span class='subsequent-load'>:flags:</span>
    <span class='subsequent-load'>:flashlight:</span>
    <span class='subsequent-load'>:floppy_disk:</span>
    <span class='subsequent-load'>:flower_playing_cards:</span>
    <span class='subsequent-load'>:flushed:</span>
    <span class='subsequent-load'>:foggy:</span>
    <span class='subsequent-load'>:football:</span>
    <span class='subsequent-load'>:fork_and_knife:</span>
    <span class='subsequent-load'>:fountain:</span>
    <span class='subsequent-load'>:four:</span>
    <span class='subsequent-load'>:four_leaf_clover:</span>
    <span class='subsequent-load'>:fr:</span>
    <span class='subsequent-load'>:free:</span>
    <span class='subsequent-load'>:fried_shrimp:</span>
    <span class='subsequent-load'>:fries:</span>
    <span class='subsequent-load'>:frog:</span>
    <span class='subsequent-load'>:frowning:</span>
    <span class='subsequent-load'>:fuelpump:</span>
    <span class='subsequent-load'>:full_moon:</span>
    <span class='subsequent-load'>:full_moon_with_face:</span>
    <span class='subsequent-load'>:game_die:</span>
    <span class='subsequent-load'>:gb:</span>
    <span class='subsequent-load'>:gem:</span>
    <span class='subsequent-load'>:gemini:</span>
    <span class='subsequent-load'>:ghost:</span>
    <span class='subsequent-load'>:gift:</span>
    <span class='subsequent-load'>:gift_heart:</span>
    <span class='subsequent-load'>:girl:</span>
    <span class='subsequent-load'>:globe_with_meridians:</span>
    <span class='subsequent-load'>:goat:</span>
    <span class='subsequent-load'>:goberserk:</span>
    <span class='subsequent-load'>:godmode:</span>
    <span class='subsequent-load'>:golf:</span>
    <span class='subsequent-load'>:grapes:</span>
    <span class='subsequent-load'>:green_apple:</span>
    <span class='subsequent-load'>:green_book:</span>
    <span class='subsequent-load'>:green_heart:</span>
    <span class='subsequent-load'>:grey_exclamation:</span>
    <span class='subsequent-load'>:grey_question:</span>
    <span class='subsequent-load'>:grimacing:</span>
    <span class='subsequent-load'>:grin:</span>
    <span class='subsequent-load'>:grinning:</span>
    <span class='subsequent-load'>:guardsman:</span>
    <span class='subsequent-load'>:guitar:</span>
    <span class='subsequent-load'>:gun:</span>
    <span class='subsequent-load'>:haircut:</span>
    <span class='subsequent-load'>:hamburger:</span>
    <span class='subsequent-load'>:hammer:</span>
    <span class='subsequent-load'>:hamster:</span>
    <span class='subsequent-load'>:hand:</span>
    <span class='subsequent-load'>:handbag:</span>
    <span class='subsequent-load'>:hankey:</span>
    <span class='subsequent-load'>:hash:</span>
    <span class='subsequent-load'>:hatched_chick:</span>
    <span class='subsequent-load'>:hatching_chick:</span>
    <span class='subsequent-load'>:headphones:</span>
    <span class='subsequent-load'>:hear_no_evil:</span>
    <span class='subsequent-load'>:heart:</span>
    <span class='subsequent-load'>:heart_decoration:</span>
    <span class='subsequent-load'>:heart_eyes:</span>
    <span class='subsequent-load'>:heart_eyes_cat:</span>
    <span class='subsequent-load'>:heartbeat:</span>
    <span class='subsequent-load'>:heartpulse:</span>
    <span class='subsequent-load'>:hearts:</span>
    <span class='subsequent-load'>:heavy_check_mark:</span>
    <span class='subsequent-load'>:heavy_division_sign:</span>
    <span class='subsequent-load'>:heavy_dollar_sign:</span>
    <span class='subsequent-load'>:heavy_exclamation_mark:</span>
    <span class='subsequent-load'>:heavy_minus_sign:</span>
    <span class='subsequent-load'>:heavy_multiplication_x:</span>
    <span class='subsequent-load'>:heavy_plus_sign:</span>
    <span class='subsequent-load'>:helicopter:</span>
    <span class='subsequent-load'>:herb:</span>
    <span class='subsequent-load'>:hibiscus:</span>
    <span class='subsequent-load'>:high_brightness:</span>
    <span class='subsequent-load'>:high_heel:</span>
    <span class='subsequent-load'>:hocho:</span>
    <span class='subsequent-load'>:honey_pot:</span>
    <span class='subsequent-load'>:honeybee:</span>
    <span class='subsequent-load'>:horse:</span>
    <span class='subsequent-load'>:horse_racing:</span>
    <span class='subsequent-load'>:hospital:</span>
    <span class='subsequent-load'>:hotel:</span>
    <span class='subsequent-load'>:hotsprings:</span>
    <span class='subsequent-load'>:hourglass:</span>
    <span class='subsequent-load'>:hourglass_flowing_sand:</span>
    <span class='subsequent-load'>:house:</span>
    <span class='subsequent-load'>:house_with_garden:</span>
    <span class='subsequent-load'>:hurtrealbad:</span>
    <span class='subsequent-load'>:hushed:</span>
    <span class='subsequent-load'>:ice_cream:</span>
    <span class='subsequent-load'>:icecream:</span>
    <span class='subsequent-load'>:id:</span>
    <span class='subsequent-load'>:ideograph_advantage:</span>
    <span class='subsequent-load'>:imp:</span>
    <span class='subsequent-load'>:inbox_tray:</span>
    <span class='subsequent-load'>:incoming_envelope:</span>
    <span class='subsequent-load'>:information_desk_person:</span>
    <span class='subsequent-load'>:information_source:</span>
    <span class='subsequent-load'>:innocent:</span>
    <span class='subsequent-load'>:interrobang:</span>
    <span class='subsequent-load'>:iphone:</span>
    <span class='subsequent-load'>:it:</span>
    <span class='subsequent-load'>:izakaya_lantern:</span>
    <span class='subsequent-load'>:jack_o_lantern:</span>
    <span class='subsequent-load'>:japan:</span>
    <span class='subsequent-load'>:japanese_castle:</span>
    <span class='subsequent-load'>:japanese_goblin:</span>
    <span class='subsequent-load'>:japanese_ogre:</span>
    <span class='subsequent-load'>:jeans:</span>
    <span class='subsequent-load'>:joy:</span>
    <span class='subsequent-load'>:joy_cat:</span>
    <span class='subsequent-load'>:jp:</span>
    <span class='subsequent-load'>:key:</span>
    <span class='subsequent-load'>:keycap_ten:</span>
    <span class='subsequent-load'>:kimono:</span>
    <span class='subsequent-load'>:kiss:</span>
    <span class='subsequent-load'>:kissing:</span>
    <span class='subsequent-load'>:kissing_cat:</span>
    <span class='subsequent-load'>:kissing_closed_eyes:</span>
    <span class='subsequent-load'>:kissing_face:</span>
    <span class='subsequent-load'>:kissing_heart:</span>
    <span class='subsequent-load'>:kissing_smiling_eyes:</span>
    <span class='subsequent-load'>:koala:</span>
    <span class='subsequent-load'>:koko:</span>
    <span class='subsequent-load'>:kr:</span>
    <span class='subsequent-load'>:large_blue_circle:</span>
    <span class='subsequent-load'>:large_blue_diamond:</span>
    <span class='subsequent-load'>:large_orange_diamond:</span>
    <span class='subsequent-load'>:last_quarter_moon:</span>
    <span class='subsequent-load'>:last_quarter_moon_with_face:</span>
    <span class='subsequent-load'>:laughing:</span>
    <span class='subsequent-load'>:leaves:</span>
    <span class='subsequent-load'>:ledger:</span>
    <span class='subsequent-load'>:left_luggage:</span>
    <span class='subsequent-load'>:left_right_arrow:</span>
    <span class='subsequent-load'>:leftwards_arrow_with_hook:</span>
    <span class='subsequent-load'>:lemon:</span>
    <span class='subsequent-load'>:leo:</span>
    <span class='subsequent-load'>:leopard:</span>
    <span class='subsequent-load'>:libra:</span>
    <span class='subsequent-load'>:light_rail:</span>
    <span class='subsequent-load'>:link:</span>
    <span class='subsequent-load'>:lips:</span>
    <span class='subsequent-load'>:lipstick:</span>
    <span class='subsequent-load'>:lock:</span>
    <span class='subsequent-load'>:lock_with_ink_pen:</span>
    <span class='subsequent-load'>:lollipop:</span>
    <span class='subsequent-load'>:loop:</span>
    <span class='subsequent-load'>:loudspeaker:</span>
    <span class='subsequent-load'>:love_hotel:</span>
    <span class='subsequent-load'>:love_letter:</span>
    <span class='subsequent-load'>:low_brightness:</span>
    <span class='subsequent-load'>:m:</span>
    <span class='subsequent-load'>:mag:</span>
    <span class='subsequent-load'>:mag_right:</span>
    <span class='subsequent-load'>:mahjong:</span>
    <span class='subsequent-load'>:mailbox:</span>
    <span class='subsequent-load'>:mailbox_closed:</span>
    <span class='subsequent-load'>:mailbox_with_mail:</span>
    <span class='subsequent-load'>:mailbox_with_no_mail:</span>
    <span class='subsequent-load'>:man:</span>
    <span class='subsequent-load'>:man_with_gua_pi_mao:</span>
    <span class='subsequent-load'>:man_with_turban:</span>
    <span class='subsequent-load'>:mans_shoe:</span>
    <span class='subsequent-load'>:maple_leaf:</span>
    <span class='subsequent-load'>:mask:</span>
    <span class='subsequent-load'>:massage:</span>
    <span class='subsequent-load'>:meat_on_bone:</span>
    <span class='subsequent-load'>:mega:</span>
    <span class='subsequent-load'>:melon:</span>
    <span class='subsequent-load'>:memo:</span>
    <span class='subsequent-load'>:mens:</span>
    <span class='subsequent-load'>:metal:</span>
    <span class='subsequent-load'>:metro:</span>
    <span class='subsequent-load'>:microphone:</span>
    <span class='subsequent-load'>:microscope:</span>
    <span class='subsequent-load'>:milky_way:</span>
    <span class='subsequent-load'>:minibus:</span>
    <span class='subsequent-load'>:minidisc:</span>
    <span class='subsequent-load'>:mobile_phone_off:</span>
    <span class='subsequent-load'>:money_with_wings:</span>
    <span class='subsequent-load'>:moneybag:</span>
    <span class='subsequent-load'>:monkey:</span>
    <span class='subsequent-load'>:monkey_face:</span>
    <span class='subsequent-load'>:monorail:</span>
    <span class='subsequent-load'>:moon:</span>
    <span class='subsequent-load'>:mortar_board:</span>
    <span class='subsequent-load'>:mount_fuji:</span>
    <span class='subsequent-load'>:mountain_bicyclist:</span>
    <span class='subsequent-load'>:mountain_cableway:</span>
    <span class='subsequent-load'>:mountain_railway:</span>
    <span class='subsequent-load'>:mouse:</span>
    <span class='subsequent-load'>:mouse2:</span>
    <span class='subsequent-load'>:movie_camera:</span>
    <span class='subsequent-load'>:moyai:</span>
    <span class='subsequent-load'>:muscle:</span>
    <span class='subsequent-load'>:mushroom:</span>
    <span class='subsequent-load'>:musical_keyboard:</span>
    <span class='subsequent-load'>:musical_note:</span>
    <span class='subsequent-load'>:musical_score:</span>
    <span class='subsequent-load'>:mute:</span>
    <span class='subsequent-load'>:nail_care:</span>
    <span class='subsequent-load'>:name_badge:</span>
    <span class='subsequent-load'>:neckbeard:</span>
    <span class='subsequent-load'>:necktie:</span>
    <span class='subsequent-load'>:negative_squared_cross_mark:</span>
    <span class='subsequent-load'>:neutral_face:</span>
    <span class='subsequent-load'>:new:</span>
    <span class='subsequent-load'>:new_moon:</span>
    <span class='subsequent-load'>:new_moon_with_face:</span>
    <span class='subsequent-load'>:newspaper:</span>
    <span class='subsequent-load'>:ng:</span>
    <span class='subsequent-load'>:nine:</span>
    <span class='subsequent-load'>:no_bell:</span>
    <span class='subsequent-load'>:no_bicycles:</span>
    <span class='subsequent-load'>:no_entry:</span>
    <span class='subsequent-load'>:no_entry_sign:</span>
    <span class='subsequent-load'>:no_good:</span>
    <span class='subsequent-load'>:no_mobile_phones:</span>
    <span class='subsequent-load'>:no_mouth:</span>
    <span class='subsequent-load'>:no_pedestrians:</span>
    <span class='subsequent-load'>:no_smoking:</span>
    <span class='subsequent-load'>:non-potable_water:</span>
    <span class='subsequent-load'>:nose:</span>
    <span class='subsequent-load'>:notebook:</span>
    <span class='subsequent-load'>:notebook_with_decorative_cover:</span>
    <span class='subsequent-load'>:notes:</span>
    <span class='subsequent-load'>:nut_and_bolt:</span>
    <span class='subsequent-load'>:o:</span>
    <span class='subsequent-load'>:o2:</span>
    <span class='subsequent-load'>:ocean:</span>
    <span class='subsequent-load'>:octocat:</span>
    <span class='subsequent-load'>:octopus:</span>
    <span class='subsequent-load'>:oden:</span>
    <span class='subsequent-load'>:office:</span>
    <span class='subsequent-load'>:ok:</span>
    <span class='subsequent-load'>:ok_hand:</span>
    <span class='subsequent-load'>:ok_woman:</span>
    <span class='subsequent-load'>:older_man:</span>
    <span class='subsequent-load'>:older_woman:</span>
    <span class='subsequent-load'>:on:</span>
    <span class='subsequent-load'>:oncoming_automobile:</span>
    <span class='subsequent-load'>:oncoming_bus:</span>
    <span class='subsequent-load'>:oncoming_police_car:</span>
    <span class='subsequent-load'>:oncoming_taxi:</span>
    <span class='subsequent-load'>:one:</span>
    <span class='subsequent-load'>:open_file_folder:</span>
    <span class='subsequent-load'>:open_hands:</span>
    <span class='subsequent-load'>:open_mouth:</span>
    <span class='subsequent-load'>:ophiuchus:</span>
    <span class='subsequent-load'>:orange_book:</span>
    <span class='subsequent-load'>:outbox_tray:</span>
    <span class='subsequent-load'>:ox:</span>
    <span class='subsequent-load'>:page_facing_up:</span>
    <span class='subsequent-load'>:page_with_curl:</span>
    <span class='subsequent-load'>:pager:</span>
    <span class='subsequent-load'>:palm_tree:</span>
    <span class='subsequent-load'>:panda_face:</span>
    <span class='subsequent-load'>:paperclip:</span>
    <span class='subsequent-load'>:parking:</span>
    <span class='subsequent-load'>:part_alternation_mark:</span>
    <span class='subsequent-load'>:partly_sunny:</span>
    <span class='subsequent-load'>:passport_control:</span>
    <span class='subsequent-load'>:paw_prints:</span>
    <span class='subsequent-load'>:peach:</span>
    <span class='subsequent-load'>:pear:</span>
    <span class='subsequent-load'>:pencil:</span>
    <span class='subsequent-load'>:pencil2:</span>
    <span class='subsequent-load'>:penguin:</span>
    <span class='subsequent-load'>:pensive:</span>
    <span class='subsequent-load'>:performing_arts:</span>
    <span class='subsequent-load'>:persevere:</span>
    <span class='subsequent-load'>:person_frowning:</span>
    <span class='subsequent-load'>:person_with_blond_hair:</span>
    <span class='subsequent-load'>:person_with_pouting_face:</span>
    <span class='subsequent-load'>:phone:</span>
    <span class='subsequent-load'>:pig:</span>
    <span class='subsequent-load'>:pig2:</span>
    <span class='subsequent-load'>:pig_nose:</span>
    <span class='subsequent-load'>:pill:</span>
    <span class='subsequent-load'>:pineapple:</span>
    <span class='subsequent-load'>:pisces:</span>
    <span class='subsequent-load'>:pizza:</span>
    <span class='subsequent-load'>:plus1:</span>
    <span class='subsequent-load'>:point_down:</span>
    <span class='subsequent-load'>:point_left:</span>
    <span class='subsequent-load'>:point_right:</span>
    <span class='subsequent-load'>:point_up:</span>
    <span class='subsequent-load'>:point_up_2:</span>
    <span class='subsequent-load'>:police_car:</span>
    <span class='subsequent-load'>:poodle:</span>
    <span class='subsequent-load'>:poop:</span>
    <span class='subsequent-load'>:post_office:</span>
    <span class='subsequent-load'>:postal_horn:</span>
    <span class='subsequent-load'>:postbox:</span>
    <span class='subsequent-load'>:potable_water:</span>
    <span class='subsequent-load'>:pouch:</span>
    <span class='subsequent-load'>:poultry_leg:</span>
    <span class='subsequent-load'>:pound:</span>
    <span class='subsequent-load'>:pouting_cat:</span>
    <span class='subsequent-load'>:pray:</span>
    <span class='subsequent-load'>:princess:</span>
    <span class='subsequent-load'>:punch:</span>
    <span class='subsequent-load'>:purple_heart:</span>
    <span class='subsequent-load'>:purse:</span>
    <span class='subsequent-load'>:pushpin:</span>
    <span class='subsequent-load'>:put_litter_in_its_place:</span>
    <span class='subsequent-load'>:question:</span>
    <span class='subsequent-load'>:rabbit:</span>
    <span class='subsequent-load'>:rabbit2:</span>
    <span class='subsequent-load'>:racehorse:</span>
    <span class='subsequent-load'>:radio:</span>
    <span class='subsequent-load'>:radio_button:</span>
    <span class='subsequent-load'>:rage:</span>
    <span class='subsequent-load'>:rage1:</span>
    <span class='subsequent-load'>:rage2:</span>
    <span class='subsequent-load'>:rage3:</span>
    <span class='subsequent-load'>:rage4:</span>
    <span class='subsequent-load'>:railway_car:</span>
    <span class='subsequent-load'>:rainbow:</span>
    <span class='subsequent-load'>:raised_hand:</span>
    <span class='subsequent-load'>:raised_hands:</span>
    <span class='subsequent-load'>:ram:</span>
    <span class='subsequent-load'>:ramen:</span>
    <span class='subsequent-load'>:rat:</span>
    <span class='subsequent-load'>:recycle:</span>
    <span class='subsequent-load'>:red_car:</span>
    <span class='subsequent-load'>:red_circle:</span>
    <span class='subsequent-load'>:registered:</span>
    <span class='subsequent-load'>:relaxed:</span>
    <span class='subsequent-load'>:relieved:</span>
    <span class='subsequent-load'>:repeat:</span>
    <span class='subsequent-load'>:repeat_one:</span>
    <span class='subsequent-load'>:restroom:</span>
    <span class='subsequent-load'>:revolving_hearts:</span>
    <span class='subsequent-load'>:rewind:</span>
    <span class='subsequent-load'>:ribbon:</span>
    <span class='subsequent-load'>:rice:</span>
    <span class='subsequent-load'>:rice_ball:</span>
    <span class='subsequent-load'>:rice_cracker:</span>
    <span class='subsequent-load'>:rice_scene:</span>
    <span class='subsequent-load'>:ring:</span>
    <span class='subsequent-load'>:rocket:</span>
    <span class='subsequent-load'>:roller_coaster:</span>
    <span class='subsequent-load'>:rooster:</span>
    <span class='subsequent-load'>:rose:</span>
    <span class='subsequent-load'>:rotating_light:</span>
    <span class='subsequent-load'>:round_pushpin:</span>
    <span class='subsequent-load'>:rowboat:</span>
    <span class='subsequent-load'>:ru:</span>
    <span class='subsequent-load'>:rugby_football:</span>
    <span class='subsequent-load'>:runner:</span>
    <span class='subsequent-load'>:running:</span>
    <span class='subsequent-load'>:running_shirt_with_sash:</span>
    <span class='subsequent-load'>:sa:</span>
    <span class='subsequent-load'>:sagittarius:</span>
    <span class='subsequent-load'>:sailboat:</span>
    <span class='subsequent-load'>:sake:</span>
    <span class='subsequent-load'>:sandal:</span>
    <span class='subsequent-load'>:santa:</span>
    <span class='subsequent-load'>:satellite:</span>
    <span class='subsequent-load'>:satisfied:</span>
    <span class='subsequent-load'>:saxophone:</span>
    <span class='subsequent-load'>:school:</span>
    <span class='subsequent-load'>:school_satchel:</span>
    <span class='subsequent-load'>:scissors:</span>
    <span class='subsequent-load'>:scorpius:</span>
    <span class='subsequent-load'>:scream:</span>
    <span class='subsequent-load'>:scream_cat:</span>
    <span class='subsequent-load'>:scroll:</span>
    <span class='subsequent-load'>:seat:</span>
    <span class='subsequent-load'>:secret:</span>
    <span class='subsequent-load'>:see_no_evil:</span>
    <span class='subsequent-load'>:seedling:</span>
    <span class='subsequent-load'>:seven:</span>
    <span class='subsequent-load'>:shaved_ice:</span>
    <span class='subsequent-load'>:sheep:</span>
    <span class='subsequent-load'>:shell:</span>
    <span class='subsequent-load'>:ship:</span>
    <span class='subsequent-load'>:shipit:</span>
    <span class='subsequent-load'>:shirt:</span>
    <span class='subsequent-load'>:shit:</span>
    <span class='subsequent-load'>:shoe:</span>
    <span class='subsequent-load'>:shower:</span>
    <span class='subsequent-load'>:signal_strength:</span>
    <span class='subsequent-load'>:six:</span>
    <span class='subsequent-load'>:six_pointed_star:</span>
    <span class='subsequent-load'>:ski:</span>
    <span class='subsequent-load'>:skull:</span>
    <span class='subsequent-load'>:sleeping:</span>
    <span class='subsequent-load'>:sleepy:</span>
    <span class='subsequent-load'>:slot_machine:</span>
    <span class='subsequent-load'>:small_blue_diamond:</span>
    <span class='subsequent-load'>:small_orange_diamond:</span>
    <span class='subsequent-load'>:small_red_triangle:</span>
    <span class='subsequent-load'>:small_red_triangle_down:</span>
    <span class='subsequent-load'>:smile:</span>
    <span class='subsequent-load'>:smile_cat:</span>
    <span class='subsequent-load'>:smiley:</span>
    <span class='subsequent-load'>:smiley_cat:</span>
    <span class='subsequent-load'>:smiling_imp:</span>
    <span class='subsequent-load'>:smirk:</span>
    <span class='subsequent-load'>:smirk_cat:</span>
    <span class='subsequent-load'>:smoking:</span>
    <span class='subsequent-load'>:snail:</span>
    <span class='subsequent-load'>:snake:</span>
    <span class='subsequent-load'>:snowboarder:</span>
    <span class='subsequent-load'>:snowflake:</span>
    <span class='subsequent-load'>:snowman:</span>
    <span class='subsequent-load'>:sob:</span>
    <span class='subsequent-load'>:soccer:</span>
    <span class='subsequent-load'>:soon:</span>
    <span class='subsequent-load'>:sos:</span>
    <span class='subsequent-load'>:sound:</span>
    <span class='subsequent-load'>:space_invader:</span>
    <span class='subsequent-load'>:spades:</span>
    <span class='subsequent-load'>:spaghetti:</span>
    <span class='subsequent-load'>:sparkler:</span>
    <span class='subsequent-load'>:sparkles:</span>
    <span class='subsequent-load'>:sparkling_heart:</span>
    <span class='subsequent-load'>:speak_no_evil:</span>
    <span class='subsequent-load'>:speaker:</span>
    <span class='subsequent-load'>:speech_balloon:</span>
    <span class='subsequent-load'>:speedboat:</span>
    <span class='subsequent-load'>:squirrel:</span>
    <span class='subsequent-load'>:star:</span>
    <span class='subsequent-load'>:star2:</span>
    <span class='subsequent-load'>:stars:</span>
    <span class='subsequent-load'>:station:</span>
    <span class='subsequent-load'>:statue_of_liberty:</span>
    <span class='subsequent-load'>:steam_locomotive:</span>
    <span class='subsequent-load'>:stew:</span>
    <span class='subsequent-load'>:straight_ruler:</span>
    <span class='subsequent-load'>:strawberry:</span>
    <span class='subsequent-load'>:stuck_out_tongue:</span>
    <span class='subsequent-load'>:stuck_out_tongue_closed_eyes:</span>
    <span class='subsequent-load'>:stuck_out_tongue_winking_eye:</span>
    <span class='subsequent-load'>:sun_with_face:</span>
    <span class='subsequent-load'>:sunflower:</span>
    <span class='subsequent-load'>:sunglasses:</span>
    <span class='subsequent-load'>:sunny:</span>
    <span class='subsequent-load'>:sunrise:</span>
    <span class='subsequent-load'>:sunrise_over_mountains:</span>
    <span class='subsequent-load'>:surfer:</span>
    <span class='subsequent-load'>:sushi:</span>
    <span class='subsequent-load'>:suspect:</span>
    <span class='subsequent-load'>:suspension_railway:</span>
    <span class='subsequent-load'>:sweat:</span>
    <span class='subsequent-load'>:sweat_drops:</span>
    <span class='subsequent-load'>:sweat_smile:</span>
    <span class='subsequent-load'>:sweet_potato:</span>
    <span class='subsequent-load'>:swimmer:</span>
    <span class='subsequent-load'>:symbols:</span>
    <span class='subsequent-load'>:syringe:</span>
    <span class='subsequent-load'>:tada:</span>
    <span class='subsequent-load'>:tanabata_tree:</span>
    <span class='subsequent-load'>:tangerine:</span>
    <span class='subsequent-load'>:taurus:</span>
    <span class='subsequent-load'>:taxi:</span>
    <span class='subsequent-load'>:tea:</span>
    <span class='subsequent-load'>:telephone:</span>
    <span class='subsequent-load'>:telephone_receiver:</span>
    <span class='subsequent-load'>:telescope:</span>
    <span class='subsequent-load'>:tennis:</span>
    <span class='subsequent-load'>:tent:</span>
    <span class='subsequent-load'>:thought_balloon:</span>
    <span class='subsequent-load'>:three:</span>
    <span class='subsequent-load'>:thumbsdown:</span>
    <span class='subsequent-load'>:thumbsup:</span>
    <span class='subsequent-load'>:ticket:</span>
    <span class='subsequent-load'>:tiger:</span>
    <span class='subsequent-load'>:tiger2:</span>
    <span class='subsequent-load'>:tired_face:</span>
    <span class='subsequent-load'>:tm:</span>
    <span class='subsequent-load'>:toilet:</span>
    <span class='subsequent-load'>:tokyo_tower:</span>
    <span class='subsequent-load'>:tomato:</span>
    <span class='subsequent-load'>:tongue:</span>
    <span class='subsequent-load'>:top:</span>
    <span class='subsequent-load'>:tophat:</span>
    <span class='subsequent-load'>:tractor:</span>
    <span class='subsequent-load'>:traffic_light:</span>
    <span class='subsequent-load'>:train:</span>
    <span class='subsequent-load'>:train2:</span>
    <span class='subsequent-load'>:tram:</span>
    <span class='subsequent-load'>:triangular_flag_on_post:</span>
    <span class='subsequent-load'>:triangular_ruler:</span>
    <span class='subsequent-load'>:trident:</span>
    <span class='subsequent-load'>:triumph:</span>
    <span class='subsequent-load'>:trolleybus:</span>
    <span class='subsequent-load'>:trollface:</span>
    <span class='subsequent-load'>:trophy:</span>
    <span class='subsequent-load'>:tropical_drink:</span>
    <span class='subsequent-load'>:tropical_fish:</span>
    <span class='subsequent-load'>:truck:</span>
    <span class='subsequent-load'>:trumpet:</span>
    <span class='subsequent-load'>:tshirt:</span>
    <span class='subsequent-load'>:tulip:</span>
    <span class='subsequent-load'>:turtle:</span>
    <span class='subsequent-load'>:tv:</span>
    <span class='subsequent-load'>:twisted_rightwards_arrows:</span>
    <span class='subsequent-load'>:two:</span>
    <span class='subsequent-load'>:two_hearts:</span>
    <span class='subsequent-load'>:two_men_holding_hands:</span>
    <span class='subsequent-load'>:two_women_holding_hands:</span>
    <span class='subsequent-load'>:u5272:</span>
    <span class='subsequent-load'>:u5408:</span>
    <span class='subsequent-load'>:u55b6:</span>
    <span class='subsequent-load'>:u6307:</span>
    <span class='subsequent-load'>:u6708:</span>
    <span class='subsequent-load'>:u6709:</span>
    <span class='subsequent-load'>:u6e80:</span>
    <span class='subsequent-load'>:u7121:</span>
    <span class='subsequent-load'>:u7533:</span>
    <span class='subsequent-load'>:u7981:</span>
    <span class='subsequent-load'>:u7a7a:</span>
    <span class='subsequent-load'>:uk:</span>
    <span class='subsequent-load'>:umbrella:</span>
    <span class='subsequent-load'>:unamused:</span>
    <span class='subsequent-load'>:underage:</span>
    <span class='subsequent-load'>:unlock:</span>
    <span class='subsequent-load'>:up:</span>
    <span class='subsequent-load'>:us:</span>
    <span class='subsequent-load'>:v:</span>
    <span class='subsequent-load'>:vertical_traffic_light:</span>
    <span class='subsequent-load'>:vhs:</span>
    <span class='subsequent-load'>:vibration_mode:</span>
    <span class='subsequent-load'>:video_camera:</span>
    <span class='subsequent-load'>:video_game:</span>
    <span class='subsequent-load'>:violin:</span>
    <span class='subsequent-load'>:virgo:</span>
    <span class='subsequent-load'>:volcano:</span>
    <span class='subsequent-load'>:vs:</span>
    <span class='subsequent-load'>:walking:</span>
    <span class='subsequent-load'>:waning_crescent_moon:</span>
    <span class='subsequent-load'>:waning_gibbous_moon:</span>
    <span class='subsequent-load'>:warning:</span>
    <span class='subsequent-load'>:watch:</span>
    <span class='subsequent-load'>:water_buffalo:</span>
    <span class='subsequent-load'>:watermelon:</span>
    <span class='subsequent-load'>:wave:</span>
    <span class='subsequent-load'>:wavy_dash:</span>
    <span class='subsequent-load'>:waxing_crescent_moon:</span>
    <span class='subsequent-load'>:waxing_gibbous_moon:</span>
    <span class='subsequent-load'>:wc:</span>
    <span class='subsequent-load'>:weary:</span>
    <span class='subsequent-load'>:wedding:</span>
    <span class='subsequent-load'>:whale:</span>
    <span class='subsequent-load'>:whale2:</span>
    <span class='subsequent-load'>:wheelchair:</span>
    <span class='subsequent-load'>:white_check_mark:</span>
    <span class='subsequent-load'>:white_circle:</span>
    <span class='subsequent-load'>:white_flower:</span>
    <span class='subsequent-load'>:white_square:</span>
    <span class='subsequent-load'>:white_square_button:</span>
    <span class='subsequent-load'>:wind_chime:</span>
    <span class='subsequent-load'>:wine_glass:</span>
    <span class='subsequent-load'>:wink:</span>
    <span class='subsequent-load'>:wink2:</span>
    <span class='subsequent-load'>:wolf:</span>
    <span class='subsequent-load'>:woman:</span>
    <span class='subsequent-load'>:womans_clothes:</span>
    <span class='subsequent-load'>:womans_hat:</span>
    <span class='subsequent-load'>:womens:</span>
    <span class='subsequent-load'>:worried:</span>
    <span class='subsequent-load'>:wrench:</span>
    <span class='subsequent-load'>:x:</span>
    <span class='subsequent-load'>:yellow_heart:</span>
    <span class='subsequent-load'>:yen:</span>
    <span class='subsequent-load'>:yum:</span>
    <span class='subsequent-load'>:zap:</span>
    <span class='subsequent-load'>:zero:</span>
    <span class='subsequent-load'>:zzz:</span>
  </ul>
</div>