<div class="modal fade compose-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg compose-modal-dialog compose-modal-dialog-large">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <i class="fa fa-compress compose-modal-size-toggle"></i>
        <h4 class="modal-title my-modal-label">Compose</h4>
      </div>
      <% var template = JST["backbone/templates/app/compose/compose_form"]; %>
      <%= template({}) %>
    </div>
  </div>
</div>