<div class="modal fade compose-modal" tabindex="-1" role="dialog" aria-labelledby="my-modal-label" aria-hidden="true">
  <div class="modal-dialog modal-lg compose-modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title my-modal-label">Compose</h4>
      </div>
      <form class="compose-form">
        <div class="modal-body">
          <input type="text" class="form-control to-input" placeholder="To" /><br />
          <input type="text" class="form-control cc-input" placeholder="CC" /><br />
          <input type="text" class="form-control bcc-input" placeholder="BCC" /><br />
          <input type="text" class="form-control subject-input" placeholder="Subject" /><br />
          
          <label class="compose-form-attachments-label">Attachments</label>
          <input class="compose-form-attachments-input" type="file" name="attachment" multiple />
        
          <br /><br />
        
          <div contenteditable="true" class="form-control summernote compose-email-body" rows="15"></div>
        </div>

        <div class="modal-footer">
          <input class="send-later-datetimepicker datetimepicker" type="text" placeholder="date &amp; time" />
          <button type="button" class="btn btn-info send-later-button">Send Later</button>
          Tracking: <input type="checkbox" class="tracking-switch switch">
          
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-info save-button">Save</button>
          <button type="submit" class="btn btn-primary send-button">Send</button>
        </div>

        <div class="modal-footer">
          <select class="form-control bounce-back-select">
            <option value="always">Always</option>
            <option value="no_reply">No Reply</option>
          </select>

          <input class="bounce-back-datetimepicker datetimepicker" type="text" placeholder="date &amp; time" />
          Bounce Back: <input type="checkbox" class="bounce-back-switch switch">
        </div>
      </form>
    </div>
  </div>
</div>