/************************ 
******** SETTINGS *******
*************************/

.settings-switch {
  padding-top: 3px;
}

.settings-rules-pane {
  padding-bottom: 50px;
}

.settings-table thead th {
  font-weight: bold;
}

.settings-view {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
