<div class="ibox float-e-margins">
  <div class="ibox-content mailbox-content">
    <div class="file-manager">
      <div class="space-15"></div>

      <ul class="category-list">
        <div class="email-folders"></div>
      </ul>
    </div>
  </div>
</div>