<td class="check-mail">
  <input type="checkbox" class="i-checks">
</td>

<td class="mail-contact">
  <%= fromPreview %>
</td>

<td class="mail-subject" style="text-overflow: ellipsis;">
  <%= subjectPreview %>
</td>

<td class="text-right mail-date">
  <%= datePreview %>
</td>
