<td class="check-mail">
  <input type="checkbox" class="i-checks">
</td>

<td class="mail-contact contain-from">
  <%= fromPreview %>
</td>

<td class="mail-subject contain-subject">
  <%= subjectPreview %> - <span><%= snippet %></span>
</td>

<td class="text-right mail-date">
  <%= datePreview %>
</td>