<div class="dropdown quick-reply-dropdown-div" style="position: relative; float: right; bottom: 43px; right: 5px;">
  <button class="btn btn-white btn-sm dropdown-toggle" type="button" id="quickReplyDropdownMenu" data-toggle="dropdown" style="padding-top: 5px; padding-bottom: 4px; margin-top: 5px; margin-left: 5px;">
    Quick Reply
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu quick-reply-dropdown" role="menu" aria-labelledby="quickReplyDropdownMenu">
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Yes</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">No</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Yo</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Cool</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Sounds good</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Got it</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" class="single-click-communication-link">Confirmed</a></li>
  </ul>
</div>