/************************ 
******** SIDEBAR ********
*************************/

.sidebar {
  padding-left: 2%;
}

#compose_button {
  font-variant: small-caps;
}

.nav-sidebar {
  position: fixed;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#inbox {
  margin-left: 10%;
  min-height: 300px;
}
