<span>
  <a type="button" href="#settings" class="btn btn-white btn-sm settings-button" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
</span>

<span class="report_toolbar_dropdown">
</span>