<span class="dropdown <% if (typeof inline != "undefined" && inline) { %>more-dropdown<% } %>">

  <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button more-dropdown-menu-target"
          data-toggle="dropdown" data-placement="top" data-original-title="More">More <span class="caret"></span>
  </button>

  <ul class="dropdown-menu more-dropdown-menu" role="menu" aria-labelledby="more-dropdown-menu-target">
    <% if (typeof showMarkReadUnread != "undefined" && showMarkReadUnread) { %>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" class="dropdown-link mark_as_read">Mark as read</a>
      </li>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" class="dropdown-link mark_as_unread">Mark as unread</a>
      </li>
    <% } %>
    
    <li role="presentation">
      <a role="menuitem" href="#apps" tabindex="-1" class="dropdown-link apps-link">Apps</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#delayed_emails" tabindex="-1" class="dropdown-link delayed-emails-link">Delayed Emails</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#email_trackers" tabindex="-1" class="dropdown-link email-trackers-link">Email Trackers</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#list_subscriptions" tabindex="-1" class="dropdown-link list-subscriptions-link">List Subscriptions</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#inbox_cleaner" tabindex="-1" class="dropdown-link">Inbox Cleaner</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#analytics" tabindex="-1" class="dropdown-link">Analytics</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#settings" tabindex="-1" class="dropdown-link">Settings</a>
    </li>
  </ul>
</span>
