<span class="dropdown">

  <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button report-dropdown-menu" data-toggle="dropdown" data-placement="top" data-original-title="Reports"><i class="fa fa-bar-chart-o"></i></button>

  <ul class="dropdown-menu" role="menu" aria-labelledby="report-dropdown-menu">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#analytics" class="report-link">Analytics</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#attachments_report" class="report-link">Attachments Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#email_volume_report" class="report-link">Email Volume Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#folders_report" class="report-link">Folders Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#geo_report" class="report-link">Geo Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#impact_report" class="report-link">Impact Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#lists_report" class="report-link">Lists Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#recommended_rules_report" class="report-link">Recommended Rules Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#threads_report" class="report-link">Threads Report</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="#top_contacts" class="report-link">Contacts Report</a></li>
  </ul>

</span>