<%
function outputFolderDropdown(emailFolders, uniqueID, className) {
  for (var i = 0; i < emailFolders.length; i++) {
    var labelAsLinkID = _.uniqueId(uniqueID);

    if (emailFolders[i].label_type != "system" || emailFolders[i].label_id == "INBOX") {
%>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" class="<%= className %>" href="#"
           id="<%= labelAsLinkID %>" name="<%= emailFolders[i]["label_id"] %>">
          <%= emailFolders[i]["name"] %>
        </a>
      </li>
<%
    }
  }
}
%>

<div class="toolbar-elements row">
  <div class="toolbar-buttons">
    <div class="dropdown bulk-action-checkbox-dropdown">
      <button class="btn" data-toggle="dropdown" type="button">
        <input type="checkbox" class="i-checks">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-as-dropdown-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" class="all-bulk-action">All</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="none-bulk-action">None</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="read-bulk-action">Read</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="unread-bulk-action">Unread</a></li>
      </ul>
    </div>
    <span class="refresh-button-placement"></span>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-archive"></i></button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>

    <span class="dropdown label-as">
      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button label-as-dropdown-menu" data-toggle="dropdown" title="Label as"><i class="fa fa-tags"></i></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="label-as-dropdown-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="createNewLabel">Create new</a></li>
        <li role="presentation" class="divider"></li>
          <% outputFolderDropdown(emailFolders, "labelAsLink", "label_as_link"); %>
      </ul>
    </span>

    <span class="dropdown">

      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button move-to-folder-dropdown-menu" data-toggle="dropdown" title="Move to"><i class="fa fa-folder"></i></button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="move-to-folder-dropdown-menu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="createNewEmailFolder">Create new</a></li>
        <li role="presentation" class="divider"></li>
          <% outputFolderDropdown(emailFolders, "moveToFolderLink", "move_to_folder_link"); %>
      </ul>
    </span>

    <span class="report_toolbar_dropdown">
    </span>

    <span>
      <a type="button" href="#settings" class="btn btn-white btn-sm settings-button" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
    </span>

    <span class="dropdown">

      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button more-dropdown-menu-target" data-toggle="dropdown" data-placement="top" data-original-title="More">More <span class="caret"></span></button>

      <ul class="dropdown-menu more-dropdown-menu" role="menu" aria-labelledby="more-dropdown-menu-target">
        <li role="presentation"><a role="menuitem" tabindex="-1" class="dropdown-link mark_as_read">Mark as read</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="dropdown-link mark_as_unread">Mark as unread</a></li>
        <li role="presentation"><a role="menuitem" href="#apps" tabindex="-1" class="dropdown-link apps_link">Apps</a></li>
      </ul>
    </span>

    <span class="btn-group pull-right pagination-buttons">
      <div class="current-emails-displayed-counter">
        <span><span class="start-number">0</span>-<span class="end-number">0</span></span> of <span class="total-emails-number">0</span>
      </div>
      <button class="btn btn-white btn-sm paginate-left-link" data-toggle="tooltip" data-placement="top" title="Left"><i class="fa fa-arrow-left"></i></button>
      <button class="btn btn-white btn-sm paginate-right-link" data-toggle="tooltip" data-placement="top" title="Right"><i class="fa fa-arrow-right"></i></button>
    </span>

  </div>
</div>