<%
function outputFolderDropdown(emailFolders, uniqueID, className) {
  for (var i = 0; i < emailFolders.length; i++) {
    var labelAsLinkID = _.uniqueId(uniqueID);

    if (emailFolders[i].label_type != "system" || emailFolders[i].label_id == "INBOX") {
%>
      <li role="presentation">
        <a role="menuitem" tabindex="-1" class="<%= className %>" href="#"
           id="<%= labelAsLinkID %>" name="<%= emailFolders[i]["label_id"] %>">
          <%= emailFolders[i]["name"] %>
        </a>
      </li>
<%
    }
  }
}
%>

<div class="mail-tools toolbar-elements row">
  <div class="toolbar-buttons">
    <div class="dropdown" id="bulk_action_checkbox_dropdown">
      <button class="btn" data-toggle="dropdown" type="button">
        <input type="checkbox" class="i-checks">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="labelAsDropdownMenu">
        <li role="presentation"><a role="menuitem" tabindex="-1" id="all_bulk_action">All</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" id="none_bulk_action">None</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" id="read_bulk_action">Read</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" id="unread_bulk_action">Unread</a></li>
      </ul>
    </div>
    <span class="refresh-button-placement"></span>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-archive"></i></button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>

    <span class="dropdown label-as">
      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button" data-toggle="dropdown" id="labelAsDropdownMenu" title="Label as"><i class="fa fa-tags"></i></button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="labelAsDropdownMenu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="createNewLabel">Create new</a></li>
        <li role="presentation" class="divider"></li>
        <% outputFolderDropdown(emailFolders, "labelAsLink", "label_as_link"); %>
      </ul>
    </span>

    <span class="dropdown">

      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button" data-toggle="dropdown" id="moveToFolderDropdownMenu" title="Move to"><i class="fa fa-folder"></i></button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="moveToFolderDropdownMenu">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="createNewEmailFolder">Create new</a></li>
        <li role="presentation" class="divider"></li>
        <% outputFolderDropdown(emailFolders, "moveToFolderLink", "move_to_folder_link"); %>
      </ul>
    </span>

    <span class="report_toolbar_dropdown">
    </span>

    <span>
      <a type="button" href="#settings" class="btn btn-white btn-sm settings-button" data-toggle="tooltip" data-placement="top" title="Settings"><i class="fa fa-cog"></i></a>
    </span>

    <span class="dropdown">

      <button type="button" class="btn btn-white btn-sm dropdown-toggle tooltip-button" data-toggle="dropdown" id="moreDropdownMenu" data-placement="top" data-original-title="More">More <span class="caret"></span></button>

      <ul class="dropdown-menu" role="menu" aria-labelledby="moreDropdownMenu" style="height: 75px;">
        <li role="presentation"><a role="menuitem" tabindex="-1" class="dropdown-link mark_as_read">Mark as read</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="dropdown-link mark_as_unread">Mark as unread</a></li>
        <li role="presentation"><a role="menuitem" href="#apps" tabindex="-1" class="dropdown-link apps_link">Apps</a></li>
      </ul>
    </span>

    <span class="btn-group pull-right pagination-buttons">
      <div id="current_emails_displayed_counter">
        <span><span id="start_number">0</span>-<span id="end_number">0</span></span> of <span id="total_emails_number">0</span>
      </div>
      <button id="paginate_left_link" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Left"><i class="fa fa-arrow-left"></i></button>
      <button id="paginate_right_link" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Right"><i class="fa fa-arrow-right"></i></button>
    </span>

  </div>
</div>