/************************ 
******** SETTINGS *******
*************************/

.settings-switch {
  padding-top: 3px;
}

.settings-rules-pane {
  padding-bottom: 50px;
}

.settingsSaveAlert {
  position: fixed;
  left: 30%;
}

.settings-table thead th {
  font-weight: bold;
}