/************************ 
******** REPORTS ********
*************************/

.in-report-dropdown {
  float: right;
}

.word-count-chart-div {
  width: 900px;
  height: 500px;
}

.analytics-view, .report-view {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
