<div class="dropdown email-rule-dropdown">
  <a data-toggle="dropdown" href="#"></a>

  <div class="dropdown-menu email-filter-dropdown">
    <form class="create-rule-form">
      <input type="text" class="form-control create-email-rule-to" placeholder="To"/>
      <input type="text" class="form-control create-email-rule-from" placeholder="From"/>
      <input type="text" class="form-control create-email-rule-subject" placeholder="Subject"/>
      <input type="text" class="form-control create-email-rule-list" placeholder="List Name"/>
      <input type="text" class="form-control create-email-rule-destination-folder" placeholder="Destination Folder Name"/>
      <button type="submit" class="btn btn-primary">Create filter with these conditions</button>
    </form>
  </div>
</div>
