<div class="ibox float-e-margins">
  <div class="ibox-content mailbox-content">
    <div class="file-manager">
      <button id="compose_button" type="button" class="btn btn-block btn-primary compose-mail">
        COMPOSE
      </button>
      <div class="space-15"></div>

      <ul class="category-list" style="padding: 0px;">
        <div id="email_folders"></div>
      </ul>

      <h5>Reports</h5>

      <br />

      <ul class="category-list" id="reports_list" style="padding: 0px;">
        <div><a href="#analytics">Analytics</a></div>
        <div><a href="#attachments_report">Attachments Report</a></div>
        <div><a href="#email_volume_report">Email Volume Report</a></div>
        <div><a href="#folders_report">Folders Report</a></div>
        <div><a href="#geo_report">Geo Report</a></div>
        <div><a href="#impact_report">Impact Report</a></div>
        <div><a href="#lists_report">Lists Report</a></div>
        <div><a href="#recommended_rules_report">Recommended Rules Report</a></div>
        <div><a href="#threads_report">Threads Report</a></div>
        <div><a href="#top_contacts">Contacts Report</a></div>
      </ul>
    </div>
  </div>
</div>