<div class="ibox float-e-margins">
  <div class="ibox-content mailbox-content">
    <div class="file-manager">
      <button id="compose_button" type="button" class="btn btn-block btn-primary compose-mail">
        COMPOSE
      </button>
      <div class="space-15"></div>

      <ul class="category-list" style="padding: 0px;">
        <div id="email_folders"></div>
      </ul>
    </div>
  </div>
</div>