<!-- DEMO TOUR 2 -->
<div class="welcome-tour-step-1 single-step carousel-step">
  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-wrap="false" data-interval="0">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="/assets/different.jpg" alt=""/>
        <div class="carousel-caption">
          <h4>Different</h4>
          <p>The Turing email client brings a fresh and different take on an email client, rich with new and innovative features.</p>
        </div>
        <div class="carousel-ctrls">
          <!-- Controls -->
          <a class="btn btn-default" href="#" data-powertour-action="stop">
            Stop
          </a>
          <a class="btn btn-primary pull-right" href="#carousel-example-generic" role="button" data-slide="next">
            Next
          </a>
        </div>
      </div>
      <div class="item">
        <img src="/assets/better.jpg" alt=""/>
        <div class="carousel-caption">
          <h4>Better basics</h4>
          <p>The Turing email client does the basics - email composing, reading, sending, etc - to a new level of quality..</p>
        </div>
        <div class="carousel-ctrls">
          <!-- Controls -->
          <a class="btn btn-default" href="#carousel-example-generic" role="button" data-slide="prev">
            prev
          </a>
          <a class="btn btn-default pull-right" href="#carousel-example-generic" role="button" data-slide="next">
            Next
          </a>
        </div>
      </div>
      <div class="item">
        <img src="/assets/advanced.jpg" alt=""/>
        <div class="carousel-caption">
          <h4>Advanced functionality</h4>
          <p>The Turing email client is packed with advanced functionality to help you more effectively get done what you want to do.</p>
        </div>
        <div class="carousel-ctrls">
          <!-- Controls -->
          <a class="btn btn-default" href="#carousel-example-generic" role="button" data-slide="prev">
            prev
          </a>
          <a class="btn btn-success pull-right" href="#" data-powertour-action="next">
            Next
          </a>
        </div>
      </div>
    </div>

      <!-- Indicators 
      <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>
    -->

  </div>
</div>        

<div class="welcome-tour-step-2 single-step"> 
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab">Home</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab">Defaults</a></li>
    <li><a href="#messages" role="tab" data-toggle="tab">Configure</a></li>
    <li><a href="#settings" role="tab" data-toggle="tab">Extend</a></li>
  </ul>
  
  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane active" id="home">
      We've designed the Turing email client with the aim of making it the most useful email product you've ever used. We hope it allows you to accomplish basic and advanced email tasks with ease in a more productive and efficient manner.
    </div>
    <div class="tab-pane" id="profile">
      The Turing email client comes with sensible defaults in place to so that you can quickly get going with a great email experience.
    </div>
    <div class="tab-pane" id="messages">
      If the defaults don't match you preferences, the Turing email client is highly configurable to allow you setup the email client how you want it to be.
    </div>
    <div class="tab-pane" id="settings">
      We've architected the Turing email client to be highly extensible, meaning that you or other third-party developers can quickly develop extensions to further improve the email client.
    </div>
  </div>
  <footer>
    <a href="#" class="btn btn-default" data-powertour-action="prev">Prev</a>              
    <a href="#" class="btn btn-primary pull-right" data-powertour-action="next">Next</a>
  </footer>
</div> 

<div class="welcome-tour-step-3 single-step"> 
  <h2>Features</h2>
  <br />
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Inbox Cleaner
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          <label>Problem</label>
          <p>Do you have an overloaded inbox? Is your inbox regularly clogged with emails? Do you have a large backlog in your inbox? Then you're probably affected by the problem of email overload.</p>
          <label>Solution</label>
          <p>The Turing Inbox Cleaner goes through your inbox emails and identifies the important and unimportant emails. It then presents an analysis of your inbox to your in a report. You can then simply click a button to archive away the unimportant emails.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            List Subscription Management
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>People often subscribe to many lists over time. These lists often continue to send you emails and clog up your inbox.</p>
          <label>Solution</label>
          <p>Turing list subscription managment provides an interface to view all lists you are subscibed to and quickly unsubscribe to them. In addition, analytics on the lists are presented.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            Email Tracking
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>You sometimes don't know whether someone has received an email that you sent to them.</p>
          <label>Solution</label>
          <p>The Turing email client uses our email tracking technology to determine whether someone has opened an email that you sent to them. If you send an email to multiple people, we also track who has opened the email on a per recipient basis.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            Email scheduler
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>Sometimes you'd like to schedule emails in advance.</p>
          <label>Solution</label>
          <p>The Turing email scheduler enables you to schedule emails to be sent at a given time in advance. You can view all of the scheduled emails, and edit or cancel them at any given time.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
            Attachment management
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>There are likely many attachments within your emails, and traditional email clients do a poor job in equipping you to manage those email attachments.</p>
          <label>Solution</label>
          <p>Turing attachment management allows you to quickly view all of your attachments, filter them by different sizes or types, and perform actions on the attachments.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
            Contact management
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>You often want to manage the contacts you communicate with via your email client.</p>
          <label>Solution</label>
          <p>Turing contact management provides a range of features for syncing your contact data and effectively emailing them.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
            Email snooze
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>Sometimes you want to read or respond to an email at a later time.</p>
          <label>Solution</label>
          <p>Turing email snooze allows your to archive that email for a specified amount of time and handle it afterwards.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
            Bounceback reminders
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>Sometimes people don't respond to an email that you sent to them, and you'd like to send a follow up.</p>
          <label>Solution</label>
          <p>Turing bounceback reminders allows you to receive a reminder if someone doesn't respond to your email (or even if they do), so that you can remember to follow up.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseNine">
            Email templates
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>You'll often end up sending similar emails over time.</p>
          <label>Solution</label>
          <p>Turing email templates allow you to create templates for those emails that you can reuse for future emails.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTen">
            Email context
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>Information about a contact is often required or useful for composing an email to that contact.</p>
          <label>Solution</label>
          <p>The email context feature provides information about a contact in a side panel while you are reading an email from them.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">
            Skins
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>Different people have differing aesthetic preferences.</p>
          <label>Solution</label>
          <p>You can choose an email client skin that fits with your preferences.</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">
            Email Analytics
          </a>
        </h4>
      </div>
      <div id="collapseTwelve" class="panel-collapse collapse">
        <div class="panel-body">
          <label>Problem</label>
          <p>There are often key insights locked within your email data that can help your email more productively and efficiently.</p>
          <label>Solution</label>
          <p>Turing email analytics liberates those insights for you and, by doing so, help you to improve your emailing productivity.</p>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <a href="#" class="btn btn-default" data-powertour-action="prev">Prev</a>              
    <a href="#" class="btn btn-primary pull-right" data-powertour-action="stop">End this tour</a>
  </footer>
</div>