/************************ 
********* ALERTS ********
*************************/

.undo-email-send {
  cursor: pointer;
  text-decoration: underline;
}

.dismiss-alert-link {
  text-decoration: underline;
  cursor: pointer;
}
