<div class="attachments_report"></div>
<div class="email_volume_report"></div>
<div class="folders_report"></div>
<div class="geo_report"></div>
<div class="top_senders_and_recipients_report"></div>
<div class="lists_report"></div>
<div class="threads_report"></div>
<div class="contacts_report"></div>
