<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">

    <% var searchBarTemplate = JST["backbone/templates/app/search_bar"]; %>
    <%= searchBarTemplate() %>

    <div class="wrapper wrapper-content">
      <div class="container-fluid fill">
        <div class="row-fluid">

          <div class="lower-email-pane">
            <div class="fixed" name="sidebar"></div>
            <div class="filler animated fadeInRight primary_pane"></div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</div>

<div class="compose-view"></div>
<div class="create_folder_view"></div>