<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">

    <div class="row border-bottom search_nav_bar">
      <nav class="navbar navbar-static-top white-bg" role="navigation">
        <div class="col-lg-9 navbar-header">
          <form role="search" id="top-search-form" class="navbar-form-custom">
            <div class="form-group">
              <input type="text" placeholder="Search for something..." class="form-control" name="top-search" id="top-search">
            </div>
          </form>
        </div>
        <ul class="col-lg-3 nav navbar-top-links navbar-right">
          <li>
            <span class="m-r-sm text-muted welcome-message">Welcome to Turing.</span>
          </li>
          <li>
            <a data-method="delete" href="/signout" rel="nofollow"><i class="fa fa-sign-out"></i> Log out</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="wrapper wrapper-content">
      <div class="container-fluid fill">
        <div class="row-fluid">

          <div id="lowerEmailPane">
            <div class="fixed" name="sidebar"></div>
            <div class="filler animated fadeInRight primary_pane"></div>
          </div>

        </div>
      </div>
    </div>
    
  </div>
</div>

<div id="compose_view"></div>
<div class="create_folder_view"></div>