<div class="page-header row">
  <div class="col-md-10">
    <h1 class="h1"><%= title %></h1>
  </div>
  <div class="col-md-2">
    <% if (typeof showReportsMenu != "undefined" && showReportsMenu) { %>
      <span class="report_toolbar_dropdown top-report-dropdown"></span>
    <% } %>
    <% var template = JST["backbone/templates/toolbar/more_dropdown"]; %>
    <%= template({}) %>
  </div>
</div>
