<div class="page-header">
  <h1 class="h1">Settings</h1>
</div>
<h4 class="h4">Email Bankruptcy</h4>
<div class="row">
  <div class="col-md-4" id="email_bankruptcy_container">
    <button id="declare_email_bankruptcy" type="button" class="btn btn-block btn-danger">Declare Email Bankruptcy</button>
  </div>
</div>
<br />
<h4 class="h4">Going Live</h4>
<div class="row">
  <div class="col-md-10">
    <input type="checkbox" id="go_live_switch" checked>
  </div>
</div>