<div class="page-header">
  <h1 class="h1">Settings</h1>
</div>
<h4 class="h4">Email Bankruptcy</h4>
<div class="row">
  <div class="col-md-4" id="email_bankruptcy_container">
    <button id="email_bankruptcy_button" type="button" class="btn btn-block btn-danger">Declare Email Bankruptcy</button>
  </div>
</div>

<br />
<h4 class="h4">Email Rules</h4>
<div class="row">
  <div class="col-md-4" id="email_rules_container">
    <button id="email_rules_button" type="button" class="btn btn-block btn-primary">Create New Email Rule</button>
  </div>
</div>

<br />
<h4 class="h4">Keyboard Shortcuts</h4>
<div class="row">
  <div class="col-md-10">
    <input type="checkbox" id="keyboard_shortcuts_switch" checked>
  </div>
</div>

<br />
<h4 class="h4">Email Genie</h4>
<div class="row">
  <div class="col-md-10">
    <input type="checkbox" id="genie_switch" <%= genie_enabled == true ? "checked" : "" %>>
  </div>
</div>

<br />
<h4 class="h4">Horizontal Preview Panel</h4>
<div class="row">
  <div class="col-md-10">
    <input type="checkbox" id="split_pane_switch" <%= split_pane_mode == "horizontal" ? "checked" : "" %>>
  </div>
</div>

<br />
<br />

<button type="button" class="btn btn-success" id="user_settings_save_button">Save</button>

<!--
<br />
<h4 class="h4">Going Live</h4>
<div class="row">
  <div class="col-md-10">
    <input type="checkbox" id="go_live_switch" checked>
  </div>
</div>
-->