<div class="pull-right mail-search">
  <div class="input-group">
    <input id="search_input" type="text" class="form-control input-sm" name="search" placeholder="Search email">

    <div class="input-group-btn">
      <a id="search_button_link" href="#"><button class="btn btn-sm btn-primary">
        Search
      </button></a>
    </div>
  </div>
</div>

<div id="inbox_title_header">

  <h2>
    <span id="inbox_title"><span class="label_name">Inbox</span> (<span class="label_count_badge"></span>)</span>
  </h2>

</div>

<div class="mail-tools tooltip-demo m-t-md row">
  <div class="col-md-3">
    <button id="refresh_button" class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="left" title="Refresh inbox"><i class="fa fa-refresh"></i> Refresh
    </button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as read"><i class="fa fa-eye"></i></button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Mark as unread"><i class="fa fa-eye-slash"></i></button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Archive"><i class="fa fa-archive"></i></button>
    <button class="btn btn-white btn-sm" data-toggle="tooltip" data-placement="top" title="Move to trash"><i class="fa fa-trash-o"></i></button>
  </div>

  <div class="dropdown col-md-2">
    <button class="btn btn-primary dropdown-toggle" type="button" id="labelAsDropdownMenu" data-toggle="dropdown">
      Label As:
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="labelAsDropdownMenu">
      <% for(var i = 0; i < emailFolders.length; i++) { %>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="label_as_link" id="<%= emailFolders[i]["label_id"] %>" href="#"><%= emailFolders[i]["name"] %></a></li>
      <% } %>
    </ul>
  </div>

  <div class="dropdown col-md-1">
    <button class="btn btn-primary dropdown-toggle" type="button" id="moveToFolderDropdownMenu" data-toggle="dropdown">
      Move To Folder:
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="moveToFolderDropdownMenu">
      <% for(var i = 0; i < emailFolders.length; i++) { %>
        <li role="presentation"><a role="menuitem" tabindex="-1" class="move_to_folder_link" id="<%= emailFolders[i]["label_id"] %>" href="#"><%= emailFolders[i]["name"] %></a></li>
      <% } %>
    </ul>
  </div>

  <div class="btn-group pull-right">
    <button id="paginate_left_link" class="btn btn-white btn-sm"><i class="fa fa-arrow-left"></i></button>
    <button id="paginate_right_link" class="btn btn-white btn-sm"><i class="fa fa-arrow-right"></i></button>
  </div>
</div>
