/************************ 
******** SIDEBAR ********
*************************/

.compose_button {
  background-color: black;
  border-color: black;
}

.inbox_count_badge {
  background-color: black;
}
