/************************ 
******** SIDEBAR ********
*************************/

.compose-button {
  background-color: black;
  border-color: black;
}

.inbox-count-badge {
  background-color: black;
}
