/************************ 
********** MAIN *********
*************************/

.wrapper-content {
  padding: 0px 0px 6px 10px;
}

.empty-text {
  text-align: center;
}

.lower-email-pane {
  margin-right: 0px;
}

.emails-syncing-information {
  text-align: center;
  padding-top: 10%;
  font-weight: bold;
}
