/************************ 
********** MAIN *********
*************************/

.wrapper-content {
  padding: 0px 0px 6px 10px;
}

.empty-text {
  text-align: center;
}

.lower-email-pane {
  margin-right: 0px;
}
