/*************************
***** COMPOSE VIEW ****
*************************/

.compose-modal-dialog-large {
  width: 840px !important;
}

.compose-modal-dialog-small {
  width: 650px !important;
}

.compose-email-body, #compose-form .note-editable {
  height: 250px !important;
  overflow: scroll;
}

.note-editor 
{
  height: 100% !important;
}

div[contenteditable]:focus {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.compose-form-attachments-label {
  float: left;
}

.compose-form-attachments-input {
  float: right;
}

.navbar-brand {
  font-size: 26px;
}

.compose-form .send-later-button {
  float: left;
  margin-right: 10px;
}

.compose-form .bounce-back-select {
  width: 67%;
  float: left;
}

.compose-form .send-later-datetimepicker {
  float: left;
}

.compose-form .bounce-back {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.compose-form .datetimepicker {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #e5e6e7;
  padding: 8px 12px 9px 12px;
  -webkit-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 19%;
  margin-right: 16px;
  text-align: center;
  border-radius: 4px;
}

.emoji-dropdown-div {
  width: 83px;
  float: left;
}

.dropdown-menu.emoji-dropdown {

  width: 20.5%;
  left: 56.5%;
  height: 240px !important;

  span {
    cursor: pointer;
  }

}

.email-templates-dropdown-div {

  width: 142px;
  float: left;

  button {
    border: 1px solid #e7eaec !important;
    border-radius: 3px;
    padding: 5px 13px 7px 15px;
  }

  li {
    cursor: pointer;
  }

}

.email-templates-dropdown {
  float: left !important;
  position: absolute !important;
  top: 232px;
  left: 391px;
  background-color: white !important;
}

.quick-compose-item, .email-tag-item {
  cursor: pointer;
}

.email-tag-dropdown-div {
  width: 65px;
  float: left;

  button {
    padding-top: 5px;
    padding-bottom: 4px;
    margin-top: 5px;
    margin-left: 15px;
  }
}

.send-button-dropdown-menu {

  height: 40px;

  a {
    cursor: pointer;
  }

}

.compose-modal-size-toggle {
  float: right;
  padding-right: 11px;
  padding-top: 2px;
  cursor: pointer;
}

.modal-body {
  padding: 20px 5px 30px 5px;
}

.display-cc, .display-bcc {
  float: right;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 10px;
}

.cc-input {
  margin-top: 13px;
}

.cc-input, .bcc-input {
  display: none;
  margin-bottom: 12px;
}

.from-indicator {
  font-size: 14px;
  padding-left: 13px;
  .from-user-address {
    padding-left: 5px;
  }
}

.create-email-templates-dialog, .delete-email-templates-dialog, .update-email-templates-dialog {
  z-index: 10000;
}

.create-email-templates-dialog-form {
  label {
    font-weight: bold;
  }
}

.cke_top, .cke_bottom {
  background: white !important;
  background-image: none !important;
  border-bottom: 1px solid #e5e6e7 !important;
}

.cke_bottom {
  border-top: 1px solid #e5e6e7 !important;
}

.cke_chrome {
  border: 1px solid #e5e6e7 !important;
}

.cke_combo_button, .cke_toolgroup {
  background: white !important;
  background-image: none !important;
  border: 1px solid #e7eaec !important;
}

.show-more-toolbar-buttons {
  position: relative !important;
  top: 7px;
  left: 11px;
  cursor: pointer !important;
  color: rgb(103, 106, 108) !important;
}

.btn-group.submit-buttons {
  margin-left: 6px;
}