body
{
  font-family: arial, sans-serif;

  h3
  {
    color: #777777;
  }

  pre
  {
    background-color: white;
  }

  #logo
  {
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
    padding: 25px 0px;
  }

  #inbox_label
  {
    font-size: 24px;
    font-weight: bold;
  }

  .read
  {
    font-weight: bold;
    border: 1px solid #efefef;
    background-color: white;
    padding: 4px;
  }

  .wrapper
  {
    background-color: white;
  }

  #inbox
  {
    margin-left: 10%;
    min-height: 300px;
  }

  .email_preview_text
  {
    position: absolute;
    left: 750px;
    font-weight: 100;
  }

  .email_date_text
  {
    position: absolute;
    left: 1150px;
  }

  #labels
  {
    width: 10%;
  }

  #labels #labels_header
  {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 4px;
  }

  #labels .email_label
  {
    padding: 5px 0px;
  }

  .send_email_button span
  {
    color: #ffffff;
    font-size:13px;
    text-decoration: none;
    line-height:34px;
    width:100%;
  }

  .reply_button
  {
    float: left;
  }

  .forward_button
  {
    float: right;
  }

  .inbox_content
  {
    padding-top: 2%;
  }

  #compose_button_row
  {
    padding-top: 25%;
    padding-left: 10%;
  }

  #label_row
  {
    padding-top: 65%;
    padding-left: 15%;
  }

  .sidebar
  {
    padding-left: 2%;
  }

  .navbar-brand
  {
    font-size: 26px;
  }

  .nav-sidebar
  {
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .page-header
  {
    a {
      color: black;
    }
  }

  .bullet_span
  {
    cursor: pointer;
  }

  .label_without_children
  {
    margin-left: 1px;
  }

  .email_information
  {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
  }

  .email_subject
  {
    padding: 15px 0px;
    color: #222;
    font-size: 18px;
  }

  .email
  {
    padding-bottom: 20px;
  }

  .collapsed_email
  {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
  }

  .bullet_span:hover
  {
    background-color: rgb(238, 238, 238);
  }

  li.contains_unread_emails
  {
    font-weight: bold;
  }

  li.contains_no_unread_emails
  {
    font-weight: normal;;
  }

  a.email_link
  {
    position: absolute;
    left: 350px;
  }

  a.label_link
  {
    color: black;
  }

  a.label_link:hover
  {
    background-color: rgb(238, 238, 238);
  }

  /* Send Email Dialog Styling */

  .send_email_dialog
  {
    input {
      margin: 5px;
      border-radius: 3px;
      border: none;
      width: 100%;
      border-bottom: 1px solid #cfcfcf;
    }

    textarea {
      border: none;
      width: 100%;
      height: 210px;
      border: 1px solid #cfcfcf;
      border-radius: 4px;
      margin-left: 5px;
      resize: none;
    }
  }

  /* Email Table Styling */

  #email_table
  {
    tr
    {
      // border-top: 1px gray solid;
      border-color: #ddd;
      border-width: 1px;
      border-top-style: solid;
      background-color: rgb(243, 243, 243);
    }

    td {
      padding: 8px 0px;
      white-space: nowrap;
      overflow: hidden;
    }

    .email_from_column
    {
      min-width: 150px;
      max-width: 150px;
    }

    .email_subject_column
    {
      padding-left: 10px;
      width: 825px;
      max-width: 825px;

      span.email_snippet
      {
        color: gray;
      }
    }

    .email_date_column
    {
      padding-left: 10px;
      width: 90px;
      max-width: 90px;
    }

  }

  /* Email Folder Styling */

  #email_folders
  {
    li {
      padding: 4px 0px;
    }
    ul ul {
      padding-left: 20px;
    }
  }

  /* Preview Pane Styling */

  #preview_pane
  {
    position: fixed;
    background-color: white;
    bottom: 0px;
    height: 45%;
    width: 100%;

    #resize_border
    {
      height: 3px;
      width: 100%;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
      background-color: rgba(255,255,255,0.1);
      cursor: row-resize;
    }
    #preview_content
    {
      overflow-y: scroll;
      height: 100%;
    }
  }

  .main_email_list_content
  {
    position: fixed;
    height: 52%;
    overflow: scroll;
    left: 16%;
    width: 84%;
  }

  #email_content
  {
    max-width: 98%;
  }

}

#page-wrapper
{
  margin: 0 0 0 0;
}

.table-mail .mail-date
{
  font-size: 12px;
}