body {
  font-family: arial, sans-serif;

  h3 {
    color: #777777;
  }

  pre {
    background-color: white;
    white-space: -moz-pre-wrap; /* Mozilla, supported since 1999 */
    white-space: -pre-wrap; /* Opera */
    white-space: -o-pre-wrap; /* Opera */
    white-space: pre-wrap; /* CSS3 - Text module (Candidate Recommendation) http://www.w3.org/TR/css3-text/#white-space */
    word-wrap: break-word; /* IE 5.5+ */
    overflow-y: hidden;
  }

  #logo {
    font-size: 30px;
    font-weight: bold;
    margin-left: 25px;
    padding: 25px 0px;
  }

  #inbox_label {
    font-size: 24px;
    font-weight: bold;
  }

  .read {
    font-weight: bold;
    border: 1px solid #efefef;
    background-color: white;
    padding: 4px;
  }

  #inbox {
    margin-left: 10%;
    min-height: 300px;
  }

  .email_preview_text {
    position: absolute;
    left: 750px;
    font-weight: 100;
  }

  .email_date_text {
    position: absolute;
    left: 1150px;
  }

  #labels {
    width: 10%;
  }

  #labels #labels_header {
    font-weight: bold;
    font-size: 24px;
    padding-bottom: 4px;
  }

  #labels .email_label {
    padding: 5px 0px;
  }

  .send_email_button span {
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
    line-height: 34px;
    width: 100%;
  }

  .reply_button {
    float: left;
  }

  .forward_button {
    float: right;
  }

  .inbox_content {
    padding-top: 2%;
  }

  #compose_button_row {
    padding-top: 25%;
    padding-left: 10%;
  }

  #label_row {
    padding-top: 65%;
    padding-left: 15%;
  }

  .sidebar {
    padding-left: 2%;
  }

  .navbar-brand {
    font-size: 26px;
  }

  .nav-sidebar {
    position: fixed;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .page-header {
    a {
      color: black;
    }
  }

  .bullet_span {
    cursor: pointer;
    float: left;
    padding-top: 4px;
    padding-right: 7px;
    font-size: 14px;
  }

  .label_without_children {
    margin-left: 1px;
  }

  .email_information {
    border-top: 1px solid #e5e5e5;
    padding-top: 5px;
    height: 45px;
    cursor: pointer;
  }

  .email_subject {
    padding: 15px 0px;
    color: #222;
  }

  .email-thread-header #email_subject {
    font-weight: normal;
    font-size: 18px;
  }

  .collapsed_email {
    background-color: rgb(243, 243, 243);
    cursor: pointer;
  }

  li.contains_unread_emails {
    font-weight: bold;
  }

  li.contains_no_unread_emails {
    font-weight: normal;;
  }

  a.email_link {
    position: absolute;
    left: 350px;
  }

  a.label_link {
    color: #666666;
    font-weight: normal;
    max-width: 200px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  a.label_link:hover {
    background-color: #DFDFDF;
  }

  /* Send Email Dialog Styling */

  .send_email_dialog {
    input {
      margin: 5px;
      border-radius: 3px;
      border: none;
      width: 100%;
      border-bottom: 1px solid #cfcfcf;
    }

    textarea {
      border: none;
      width: 100%;
      height: 210px;
      border: 1px solid #cfcfcf;
      border-radius: 4px;
      margin-left: 5px;
      resize: none;
    }
  }

  /* Email Table Styling */

  #email_table {
    tr {
      // border-top: 1px gray solid;
      border-color: #ddd;
      border-width: 1px;
      border-top-style: solid;
      background-color: rgb(243, 243, 243);
    }

    td {
      padding: 8px 0px;
      white-space: nowrap;
      overflow: hidden;
    }

    .email_from_column {
      min-width: 150px;
      max-width: 150px;
    }

    .email_subject_column {
      padding-left: 10px;
      width: 825px;
      max-width: 825px;

      span.email_snippet {
        color: gray;
      }
    }

    .email_date_column {
      padding-left: 10px;
      width: 90px;
      max-width: 90px;
    }

  }

  /* Email Folder Styling */

  #email_folders {
    li {
      padding: 0px;
    }
    ul ul {
      padding-left: 30px;
    }
  }

  .main_email_list_content {
    position: fixed;
    height: 52%;
    overflow: scroll;
    left: 16%;
    width: 84%;
  }

  #email_content {
    max-width: 98%;
  }

  .create_filter {
    cursor: pointer;
  }
}

#page-wrapper {
  margin: 0 0 0 0;
  padding-right: 0px;
}

.table-mail .mail-date {
  font-size: 12px;
  min-width: 75px;
  padding-right: 20px !important;
}

a#refresh_link {
  color: black;
}

#reports_list div {
  padding: 5px 0px;
}

#email_filter_dropdown {
  width: 50%;
  left: 25%;

  input {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
  }

  .create-email-rule-to {
    margin-top: 3%;
  }

  button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    margin-left: 35%;
  }
}

#compose_form_attachments_label {
  float: left;
}

#compose_form_attachments_input {
  float: right;
}

#undo_email_send {
  cursor: pointer;
  text-decoration: underline;
}

.email_thread_highlight {
  border-left: 2px solid rgb(1, 148, 125) !important;
}

/* Preview Pane Styling */

#preview_panel {
  width: 81.5%;
  height: 50%;
  position: fixed !important;
  bottom: 0px;
  left: 18.5%;
  z-index: 1000;
  display: none;
  background-color: white;

  #resize_border {
    height: 3px;
    width: 100%;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: rgba(255, 255, 255, 0.1);
    cursor: row-resize;
  }
  #preview_content {
    height: 100%;
    overflow-y: scroll;
  }
}

.read td {
  background-color: whitesmoke !important;
}

.unread td {
  background-color: white !important;
}

.currently_being_read td {
  background-color: rgb(231, 246, 236) !important;
}

.checked_email_thread td {
  background-color: rgb(252, 248, 227) !important;
}

#no_conversations_selected {
  padding-top: 10%;
  font-size: 20px;
}

#bulk_action_checkbox_dropdown {
  button {
    background-color: white;
    border: 1px solid #e7eaec;
    float: left;
    margin-right: 4px;
    margin-top: 0px;
    padding: 3px 12px;
  }
  ul {
    margin-top: 34px;
  }
}

#current_emails_displayed_counter {
  float: left;
  margin-right: 5px;
  margin-top: 9px;
  span {
    font-weight: bold;
  }
}

.search_nav_bar {
  margin-right: 0px;
}

#lowerEmailPane {
  margin-right: 0px;
}

.settingsSaveAlert {
  position: fixed;
  left: 30%;
}

.email-thread-header {
  padding-top: 10px;
}

.dismiss-alert-link {
  text-decoration: underline;
  cursor: pointer;
}

.settings-table thead th {
  font-weight: bold;
}

table.table-mail tr td {
  padding: 5px !important;
}

.mail-box-header {
  padding: 0px 20px 12px 20px !important;
  min-width: 800px;
}

.pagination-buttons {
  padding-right: 15px;
}

.toolbar-elements {
  margin-top: 13px;
}

.email-thread-view-default-text {
  text-align: center;
  padding-top: 8%;
  font-size: 16px;
  color: #223;
}

.empty-text {
  text-align: center;
}

.contain-from {
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 250px;
  text-overflow: ellipsis;
}

.contain-subject {
  overflow-x: hidden;
  white-space: nowrap;
  max-width: 775px;
  text-overflow: ellipsis;
}

.selected_tree_folder {
  font-weight: bold !important;
  color: #1ab394 !important;
}

/* Fixed sidebar CSS */

.fixed {
  width: 200px;
  float: left;
  overflow-x: auto;
  overflow-y: hidden;
}

.fixed:hover {
  overflow-y: scroll;
}

.fixed + div {
   margin-left: 200px;
}

html, body {
  height: 100%;
}

.fill { 
  min-height: 100%;
  position: relative;
  padding-left: 0px;
  padding-right: 0px;
}

.filler {
  padding: 0px;
  margin: 0px;
  overflow: hidden;
}

.filler:after {
  background-color:inherit;
  bottom: 0;
  content: "";
  height: auto;
  min-height: 100%;
  left: 0;
  margin:inherit;
  right: 0;
  position: absolute;
  top: 0;
  width: inherit;
  z-index: -1;
}

.mailbox-content {
  padding: 10px 20px 10px 0px;
}

.wrapper-content {
  padding: 0px 0px 6px 10px;
}

#compose_button {
  font-variant: small-caps;
}

#top-search {
  height: 50px;
  width: 500px;
}

.navbar-top-links li a {
  padding: 18px 10px;
}

.toolbar-buttons {
  padding-left: 0px;
}

.email_threads_list_view {
  border: none !important;
  margin: 0px !important;
  padding: 0px !important;

  overflow-x: hidden !important;
}

.settings-button {
  margin-right: 8px;
}

.dropdown-menu {
  margin-top: 10px;
  height: 270px;
  overflow-y: scroll;
}

table.table-mail tr td {
  padding: 1px !important;
}

.icheckbox_square-green {
  transform: scale(0.7, 0.7);
}

.unread .icheckbox_square-green {
  left: 1px;
}

.email_threads_list_view_tbody tr {
  cursor: pointer;
}

.settings-view, .analytics-view, .report-view {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.email_information {
  span {
    position: relative;
    top: 10px;
  }

  .email-from {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
  }

  .email-date {
    float: right;
    padding-right: 15px;
  }
}

.mail-body {
  padding: 0px;
}

.email_body {
  padding: 15px 10px;
}

.mail-tools {
  margin-top: 10px;

  .email-thread-date {
    padding-right: 15px;
  }
}

.settings-switch {
  padding-top: 3px;
}

.settings-rules-pane {
  padding-bottom: 50px;
}

.container-fluid {
  min-width: 800px !important;
}

.search_nav_bar {
  min-width: 825px !important;
}

.compose-modal-dialog {
  width: 840px !important;
}

#compose_email_body, #compose_form .note-editable {
  height: 250px !important;
  overflow: scroll;
}
