<div class="create_app_view"></div>

<div class="page-header">
  <h1 class="h1">Apps</h1>
</div>

<% if (developer_enabled) { %>
  <button type="button" class="btn btn-block btn-primary create-app-button">Create App</button>
<% } %>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped settings-table apps-table">
      <thead>
      <tr>
        <th>Description</th>
        <th>Name</th>
        <th>Install</th>
      </tr>
      </thead>
      <tbody>
      <% for(var i = 0; i < apps.length; i++) { %>
        <tr>
          <td><%= apps[i].name %></td>
          <td><%= apps[i].description %></td>
          <td><button type="button" class="btn btn-block install-app-button">Install</button></td>
        </tr>
      <% } %>
      </tbody>
    </table>
  </div>
</div>
