<div class="dropdown" id="app-dropdown">
  <a data-toggle="dropdown" href="#"></a>

  <div class="dropdown-menu" id="app_dropdown">
    <form class="create-app-form">
      <input type="text" class="form-control create-app-name" placeholder="Name" />
      <input type="text" class="form-control create-app-description" placeholder="Description" />
      <input type="text" class="form-control create-app-type" placeholder="App Type" value="panel" />
      <input type="text" class="form-control create-app-callback-url" placeholder="Callback URL" />
      
      <button type="submit" class="btn btn-primary">Create App</button>
    </form>
  </div>
</div>
