/************************ 
******** SETTINGS *******
*************************/

.rule-deletion-button, #email_rules_button, .rule-deletion-button, #genie_rules_button, #email_bankruptcy_button {
  background-color: black;
  border-color: black;
}

.settings-switch .switch-left {
  background: black !important;
}
