/************************ 
******** SETTINGS *******
*************************/

.rule-deletion-button, .email-rules-button, .rule-deletion-button, .genie-rules-button, .email-bankruptcy-button {
  background-color: black;
  border-color: black;
}

.settings-switch .switch-left {
  background: black !important;
}
